<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="css/dtp/bootstrap.min.css")
    include partials/meta
    link(rel="stylesheet", href="css/dtp/bootstrap-datetimepicker.min.css")
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        nav.header__nav
          .toggle.header__toggle.js-toggle
            span.toggle__line
            span.toggle__line
            span.toggle__line
          .logo.header__logo
            a.header__logo-link
              img.logo-img.header__logo-img(src="img/logo.png" alt="врынке.рф")
          .header__list.js-header__list
            button.button.header__list-button.js-list-button
            .header__nav-list
              .header__nav-item.header__nav-item--active
                a(href="for-agent.html") Я — агент
              .header__nav-item
                a(href="for-contractor.html") Я — поставщик
              .header__nav-item
                a(href="catalog.html") Каталог предложений
              .header__nav-item
                a(href="regions-list.html") Регионы
            .header__nav-list.header__nav-list--mobile
              .header__nav-item
                a(href="about.html") О платформе
              .header__nav-item
                a(href="careers-list.html") Работать у нас
              .header__nav-item
                a(href="news-list.html") Новости
              .header__nav-item
                a(href="contact-us.html") Связаться с нами
          .header__sign-in
            a.button.header__button-account.js-button-account(href="#~")
               img(src="img/account-icon.png" alt="account-logo")
              .header__account-block.js-account-block
                ul.header__account-list
                  li.header__account-item
                    a(href="account-agent-edit-account.html") Редактировать профиль
                  li.header__account-item
                    a(href="account-agent-message.html") Сообщения
                  li.header__account-item
                    a(href="login.html") Выйти

      // Crumbs
      .crumbs
        .container
          +navLink("crumbs__nav-link crumbs__nav-link--prof", "", "Профиль", "crumbs__block--active")
          +navLinkCounter("crumbs__nav-counter", "crumbs__nav-link crumbs__nav-link--mes", "account-agent-message.html", "Сообщения", '25')
          +navLink("crumbs__nav-link crumbs__nav-link--fav", "account-agent-fi-list.html", "Избранное")
          +navLink("crumbs__nav-link crumbs__nav-link--training", "training.html", "Обучение")

      section.main-content.account--edit
        .container
          h1.main-content__title Добавить новый товар / услугу

          form(action="account-contractor-preview-item.html" method="" id="")
            // Main info
            .account__line-title 1. Основная информация
            .row.account__input-block
              .col-lg-6
                .account__edit-title Наименование товара или услуги *
                input.input(type="text" name="text")
              .col-lg-3
                .account__edit-title Срок действия предложения *
                input.input(type="text" name="date" id="datetimepicker4")
              .col-lg-12
                .account__edit-title Регионы распространения *
                input.input(type="text" name="region" placeholder="Начните вводить регион")
              .col-lg-6
                .account__edit-title Краткое описание *
                textarea.textarea#editor3
              .col-lg-6
                .account__edit-title Условия поставки / доставки или предоставления услуги *
                textarea.textarea
              .col-sm-3
                a.button.button--green--md Продолжить

            //Pricing
            .account__line-title 2. Ценообразование
            .row.account__input-block
              .col-lg-3
                .account__edit-title Единица измерения *
                select.input()
                  option(disable) Выберите
                  option шт
                  option кг
                  option т
                  option п.м
                  option кв.м
                  option куб.м
              .col-lg-3
                .account__edit-title Минимальный объём *
                input.input(type="text" name="minVol")
              .col-lg-2
                .account__edit-title(style="visibility: hidden;") Тип измерения
                select.input
                  option(disable) В единицах
                  option В валюте
              .col-lg-2
                .account__edit-title Валюта *
                select.input
                  option(disable) &#8381; (рубль)
                  option &#36; (доллар)
                  option  &#8364; (евро)
              .col-lg-3
                .account__edit-title Стоимость за единицу
                .question &#63;
                  span.question__tooltip Без учёта доставки и НДС.
                input.input(type="text" name="id")

              .col-lg-2
                .account__edit-title Ставка НДС *
                select.input
                  option(disable) Без НДС
                  option 10&#37;
                  option 18&#37;

              .col-lg-3
                .account__edit-title Цена
                .question &#63;
                  span.question__tooltip Рассчитывается автоматически из стоимости за единицу и ставки НДС. Без учёта доставки.
                input.input(type="text"  name="id")
            .row.account__input-block
                .col-sm-3
                  a.button.button--green--md Продолжить

            // Agent info
            .account__line-title 3. Информация для агентов
            .row.account__input-block
              .col-sm-3
                .account__edit-title Вознаграждение *
                .question &#63;
                  span.question__tooltip Процент от суммы продажи с учётом НДС. Без учёта доставки.
            .account__input-block
              .input__procent-block
                input.input(type="text" name="procent")
                span.input__span-procent &#37;
            .row.account__input-block
              .col-sm-6
                .account__edit-title Требования к торговому агенту *
                textarea.textarea#editor4
            .row.account__input-block
                .col-sm-3
                  a.button.button--green--md Продолжить


            // Downloads
            .account__line-title 4. Загрузки
            .row.account__input-block
              .col-sm-6
                .account__edit-title Загрузить фото *
                .input__photo-block
                  .input__photo
                    img(src="img/account/input-photo.png")
                  .input__photo
                    img(src="img/account/input-photo.png")
                  .input__photo
                    img(src="img/account/input-photo.png")
                  .input__photo
                    img(src="img/account/input-photo.png")
                .input__important-info Перетащите фото на значёк камеры или #[a выберите на компьютере.]
                  br
                  | Размер одного файла не должен превышать 2Мб. Разерешённые форматы: JPG, PNG, GIF.


              .col-sm-6
                .account__edit-title Видеоролик
                input.input(type="text" name="getVideo")
                .input__important-info Ссылка на видеоролик

            .row.account__input-block
              .col-sm-6
                .account__edit-title Форма договора на поставку товара или оказание услуг *
                .input__fileform
                  .input__filefield
                  .input__fileform-button Обзор
                  input.input(type="file", name="contract")
                .input__important-info Размер файла не должен превышать 2Мб. Разерешённые форматы: DOC, DOCX, ODT, RTF, PDF

              .col-sm-6
                .account__edit-title Прайс-лист *
                .input__fileform
                  .input__filefield
                  .input__fileform-button Обзор
                  input.input(type="file", name="priceList")
                .input__important-info Размер файла не должен превышать 2Мб. Разерешённые форматы: DOC, DOCX, ODT, RTF, PDF

            .row.account__input-block
              .col-sm-6
                .account__edit-title Презентация (PDF)
                .input__fileform
                  .input__filefield
                  .input__fileform-button Обзор
                  input.input(type="file", name="pdf")
                .input__important-info

              .col-sm-6
                .account__edit-title Другие материалы
                .input__fileform
                  .input__filefield
                  .input__fileform-button Обзор
                  input.input(type="file", name="other")

              .input__bottom-block
                button.button.button--green Предпросмотр и публикация
          .account__important-info
            span Поля, отмеченные звездочкой (*), обязательны к заполнению.

        // Footer
      .prefooter
        picture
          source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
          img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

      footer.footer
        .container
          .row
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="privacy.html") Политика конфиденциальности
                  li.footer__list-item
                    a.footer__list-link(href="public-offer.html") Публичная оферта
                  li.footer__list-item
                    a.footer__list-link(href="news-list.html") Новости
                  li.footer__list-item
                    a.footer__list-link(href="contact-us.html") Связаться с нами
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Врынке #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="about.html") О платформе
                  li.footer__list-item
                    a.footer__list-link(href="careers-list.html") Работать у нас
                  li.footer__list-item
                    a.footer__list-link(href="partnership.html") Сотрудничать с нами
                  li.footer__list-item
                    a.footer__list-link(href="legal-info.html") Юридическая информация
            .col
              .footer__content-wrap
                .logo.footer__logo
                  a(href="index.html")
                    img(src="img/footer-logo.png" alt="врынке.рф")
                p.footer__copy &copy; Врынке, 2017. Все права защищены.
                .footer__social
                  a.footer__social-icon.footer__social-vk(href="#~")
                  a.footer__social-icon.footer__social-inst(href="#~")
                  a.footer__social-icon.footer__social-facebook(href="#~")
                .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts
      include partials/dtp
      script(src="js/ckeditor/ckeditor.js")
      script.
        $(function () {
            $('#datetimepicker4').datetimepicker();
        });
      script.
            CKEDITOR.replace( 'editor3' );
            CKEDITOR.replace( 'editor4' );
