<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        nav.header__nav
          .toggle.header__toggle.js-toggle
            span.toggle__line
            span.toggle__line
            span.toggle__line
          .logo.header__logo
            a.header__logo-link
              img.logo-img.header__logo-img(src="img/logo.png" alt="врынке.рф")
          .header__list.js-header__list
            button.button.header__list-button.js-list-button
            .header__nav-list
              .header__nav-item.header__nav-item--active
                a(href="for-agent.html") Я — агент
              .header__nav-item
                a(href="for-contractor.html") Я — поставщик
              .header__nav-item
                a(href="catalog.html") Каталог предложений
              .header__nav-item
                a(href="regions-list.html") Регионы
            .header__nav-list.header__nav-list--mobile
              .header__nav-item
                a(href="about.html") О платформе
              .header__nav-item
                a(href="careers-list.html") Работать у нас
              .header__nav-item
                a(href="news-list.html") Новости
              .header__nav-item
                a(href="contact-us.html") Связаться с нами
          .header__sign-in
            a.button.header__button-account.js-button-account(href="#~")
               img(src="img/account-icon.png" alt="account-logo")
              .header__account-block.js-account-block
                ul.header__account-list
                  li.header__account-item
                    a(href="account-agent-edit-account.html") Редактировать профиль
                  li.header__account-item
                    a(href="account-agent-message.html") Сообщения
                  li.header__account-item
                    a(href="login.html") Выйти

      // Crumbs
      .crumbs
        .container
          +navLink("crumbs__nav-link crumbs__nav-link--prof", "", "Профиль", "crumbs__block--active")
          +navLinkCounter("crumbs__nav-counter", "crumbs__nav-link crumbs__nav-link--mes", "account-agent-message.html", "Сообщения", '25')
          +navLink("crumbs__nav-link crumbs__nav-link--fav", "account-agent-fi-list.html", "Избранное")
          +navLink("crumbs__nav-link crumbs__nav-link--training", "training.html", "Обучение")
          +navLinkCounter("crumbs__nav-counter", "crumbs__nav-link crumbs__nav-link--order", "account-contractor-order-list.html", "Мои заказы", '10')
      section.main-content
        .container
          .main-content__title-block
            h1.main-content__title Заказ &#8470; #[span.order__this-number 000000000001]
            a.main-content__link-back(href="account-contractor-order-list.html") Вернуться к списку заказов

          // Order block status
          .order__block.order__about-block
            .order__block-category
              span.order__order-status Статус заказа: 
              span.order__order-name Новый
                .question &#63;
                  .question__tooltip Статус заказа "Новый" означает, что заказ прошёл проверку администрацией портала и ожидает вашего решения. Вы можете принять или отклонить заказ внизу этой страницы.
            .order__block-category
              span.order__order-reward Гарантированное вознаграждение:
              span.order__order-name Да
                .question &#63;
                  .question__tooltip Краткие подробности об услуге.
          
          // Order block
          
          .order__block
            h2.order__block-title.order__block-title--border-title Подробности заказа
            .order__block-category
              span.order__category-name Товар / услуга:
              span.order__category-attr Композитный состав CERAMET ANTICOR  [ID-P000000001-00123]
            .order__block-category
              span.order__category-name Поставщик:
              span.order__category-attr ООО Ромашка, Москва
            .order__block-category
              span.order__category-name Колличество:
              span.order__category-attr 5 000 кг
            .order__block-category
              span.order__category-name Дополнительная информация:
              span.order__category-attr Необходима доставка в кратчайшие сроки.

          // Order block
          
          .order__block
            h2.order__block-title Плательщик / Покупатель
            .order__block-category
              span.order__category-name Наименование:
              span.order__category-attr ООО Ромашка
            .order__block-category
              span.order__category-name ИНН:
              span.order__category-attr 732000000000
            .order__block-category
              span.order__category-name КПП:
              span.order__category-attr 123456789
            .order__block-category
              span.order__category-name Код ОКПО:
              span.order__category-attr -
            .order__block-category
              span.order__category-name Адрес местонахождения:
              span.order__category-attr 125000, Московская область, Истра, Водянова улица, дом 5, офис 314
            .order__block-category
              span.order__category-name Банковские реквизиты:
              span.order__category-attr Р/сч: 40702810638050013199
                br
                | Банк: ПАО "Сбербанк России", город Истра
                br
                | К/сч: 30101810400000000225
                br
                | БИК: 044525225

          // Order block
          
          .order__block
            h2.order__block-title Информация о доставке
            .order__block-category
              span.order__category-name Наименование:
              span.order__category-attr ООО Ромашка
            .order__block-category
              span.order__category-name ИНН:
              span.order__category-attr 732000000000
            .order__block-category
              span.order__category-name КПП:
              span.order__category-attr 123456789
            .order__block-category
              span.order__category-name Код ОКПО:
              span.order__category-attr -
            .order__block-category
              span.order__category-name Адрес доставки:
              span.order__category-attr 125000, Московская область, Истра, Водянова улица, дом 5, офис 314

          // Button
          .order__button-block
            a.button.button--green(href="account-contractor-order-success.html") Принять
            a.button.button--transp(href="account-contractor-order-list.html") Отклонить


        // Footer
      .prefooter
        picture
          source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
          img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

      footer.footer
        .container
          .row
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="privacy.html") Политика конфиденциальности
                  li.footer__list-item
                    a.footer__list-link(href="public-offer.html") Публичная оферта
                  li.footer__list-item
                    a.footer__list-link(href="news-list.html") Новости
                  li.footer__list-item
                    a.footer__list-link(href="contact-us.html") Связаться с нами
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Врынке #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="about.html") О платформе
                  li.footer__list-item
                    a.footer__list-link(href="careers-list.html") Работать у нас
                  li.footer__list-item
                    a.footer__list-link(href="partnership.html") Сотрудничать с нами
                  li.footer__list-item
                    a.footer__list-link(href="legal-info.html") Юридическая информация
            .col
              .footer__content-wrap
                .logo.footer__logo
                  a(href="index.html")
                    img(src="img/footer-logo.png" alt="врынке.рф")
                p.footer__copy &copy; Врынке, 2017. Все права защищены.
                .footer__social
                  a.footer__social-icon.footer__social-vk(href="#~")
                  a.footer__social-icon.footer__social-inst(href="#~")
                  a.footer__social-icon.footer__social-facebook(href="#~")
                .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts