<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        nav.header__nav
          .toggle.header__toggle.js-toggle
            span.toggle__line
            span.toggle__line
            span.toggle__line
          .logo.header__logo
            a.header__logo-link
              img.logo-img.header__logo-img(src="img/logo.png" alt="врынке.рф")
          .header__list.js-header__list
            button.button.header__list-button.js-list-button
            .header__nav-list
              .header__nav-item.header__nav-item--active
                a(href="for-agent.html") Я — агент
              .header__nav-item
                a(href="for-contractor.html") Я — поставщик
              .header__nav-item
                a(href="catalog.html") Каталог предложений
              .header__nav-item
                a(href="regions-list.html") Регионы
            .header__nav-list.header__nav-list--mobile
              .header__nav-item
                a(href="about.html") О платформе
              .header__nav-item
                a(href="careers-list.html") Работать у нас
              .header__nav-item
                a(href="news-list.html") Новости
              .header__nav-item
                a(href="contact-us.html") Связаться с нами
          .header__sign-in
            a.button.header__button-account.js-button-account(href="#~")
               img(src="img/account-icon.png" alt="account-logo")
              .header__account-block.js-account-block
                ul.header__account-list
                  li.header__account-item
                    a(href="account-agent-edit-account.html") Редактировать профиль
                  li.header__account-item
                    a(href="account-agent-message.html") Сообщения
                  li.header__account-item
                    a(href="login.html") Выйти

      // Crumbs
      .crumbs
        .container
          +navLink("crumbs__nav-link crumbs__nav-link--prof", "", "Профиль", "crumbs__block--active")
          +navLinkCounter("crumbs__nav-counter", "crumbs__nav-link crumbs__nav-link--mes", "account-agent-message.html", "Сообщения", '25')
          +navLink("crumbs__nav-link crumbs__nav-link--fav", "account-agent-fi-list.html", "Избранное")
          +navLink("crumbs__nav-link crumbs__nav-link--training", "training.html", "Обучение")

      // Account edit
      section.main-content.account.account__edit
        .container
          h1.main-content__title Редактировать профиль
          .accountn__edit-block
            form(action="success-date.html" method="" id="")

              // Personal info
              h2.account__edit-name Персональная информация
              .row.account__input-block
                .col-md-8.col-sm-12
                  +inputBlock("","text", "name", "Иванов Иван Иванович")
                .col-md-4.col-sm-6
                  +inputBlock("","text", "id", "656565654654")
                .col-md-4.col-sm-6
                  select.input()
                    option(disable) Высшее
                    option Среднее
                    option Среднее-специальное
                    option Низшее
                    option Никакое

              // Registered address
              h3.account__edit-name.account__edit-name--md Адрес регистрации
              .row.account__input-block
                .col-md-4.col-sm-6
                  +inputBlock("js-let-check","text", "index", "125000")
                .col-md-4.col-sm-6
                  +inputBlock("js-let-check","text", "region", "Московская область")
                .col-md-4.col-sm-6
                  +inputBlock("js-let-check","text", "city", "Московская область")
                .col-md-12
                  +inputBlock("js-let-check","text", "address", "Московская область")

              // The actual address
              .account__check-title
                h3.account__edit-name.account__edit-name--md Фактический адрес (для направления корреспонденции)
                +checkBox('firstCheckbox', 'Соответствует адресу регистрации')
              .row.account__input-block
                .col-md-4.col-sm-6
                  +inputBlock("js-get-check","text", "index", "125000")
                .col-md-4.col-sm-6
                  +inputBlock("js-get-check","text", "region", "Московская область")
                .col-md-4.col-sm-6
                  +inputBlock("js-get-check","text", "city", "Московская область")
                .col-md-12
                  +inputBlock("js-get-check","text", "address", "Московская область")

              // Contact info
              h2.account__edit-name Контактная информация
              .row.account__input-block
                .col-md-4.col-sm-6
                  +inputBlock("","tel", "phone", "+7 (905) 123-45-67")
                .col-md-4.col-sm-6
                  +inputBlock("","phone", "mail", "656565654654")

              .account__check-wrap
                .account__input-block.account__input-block--mb
                  +checkBox('secondCheckbox', 'Получить статус подтверждённого агента')
                  .question &#63;
                    span.question__tooltip После проверки данных специалистами врынке возле наименования вашей компании появится значок “подтверждено”. для получения статуса подтвержденного агента необходимо предоставить всю информацию и оплатить счет.
                  .account__input-block__info Стоимость услуги – #[span.account__check-get 0] рублей

              .row.account__input-block
                .col-md-4.col-sm-6
                  +inputBlock("","text", "inn", "40702810638050013199")
                .col-md-4.col-sm-6
                  +inputBlock("","text", "bank", "ПАО \"Сбербанк России\"")

              .row.account__input-block
                .col-md-4.col-sm-6
                  +inputBlock("","text", "name", "Иванов Иван Иванович")
                .col-md-4.col-sm-6
                  +inputBlock("","text", "id", "656565654654")
                .col-md-4.col-sm-6
                  +inputBlock("","text", "id", "656565654654")

              .row.account__input-block
                .col-sm-4
                  button.button.button--confirm-reg Подтвердить изменения

          // Footer
        .prefooter
          picture
            source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
            img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

        footer.footer
          .container
            .row
              .col
                .footer__content-wrap
                  h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="privacy.html") Политика конфиденциальности
                    li.footer__list-item
                      a.footer__list-link(href="public-offer.html") Публичная оферта
                    li.footer__list-item
                      a.footer__list-link(href="news-list.html") Новости
                    li.footer__list-item
                      a.footer__list-link(href="contact-us.html") Связаться с нами
              .col
                .footer__content-wrap
                  h2.footer__title.js-footer-title Врынке #[span.arrow]
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="about.html") О платформе
                    li.footer__list-item
                      a.footer__list-link(href="careers-list.html") Работать у нас
                    li.footer__list-item
                      a.footer__list-link(href="partnership.html") Сотрудничать с нами
                    li.footer__list-item
                      a.footer__list-link(href="legal-info.html") Юридическая информация
              .col
                .footer__content-wrap
                  .logo.footer__logo
                    a(href="index.html")
                      img(src="img/footer-logo.png" alt="врынке.рф")
                  p.footer__copy &copy; Врынке, 2017. Все права защищены.
                  .footer__social
                    a.footer__social-icon.footer__social-vk(href="#~")
                    a.footer__social-icon.footer__social-inst(href="#~")
                    a.footer__social-icon.footer__social-facebook(href="#~")
                  .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
        include partials/scripts

