<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        nav.header__nav
          .toggle.header__toggle.js-toggle
            span.toggle__line
            span.toggle__line
            span.toggle__line
          .logo.header__logo
            a.header__logo-link
              img.logo-img.header__logo-img(src="img/logo.png" alt="врынке.рф")
          .header__list.js-header__list
            button.button.header__list-button.js-list-button
            .header__nav-list
              .header__nav-item.header__nav-item--active
                a(href="for-agent.html") Я — агент
              .header__nav-item
                a(href="for-contractor.html") Я — поставщик
              .header__nav-item
                a(href="catalog.html") Каталог предложений
              .header__nav-item
                a(href="regions-list.html") Регионы
            .header__nav-list.header__nav-list--mobile
              .header__nav-item
                a(href="about.html") О платформе
              .header__nav-item
                a(href="careers-list.html") Работать у нас
              .header__nav-item
                a(href="news.html") Новости
              .header__nav-item
                a(href="contact-us.html") Связаться с нами
          .header__sign-in
            a.button.header__button-account.js-button-account(href="#~")
               img(src="img/account-icon.png" alt="account-logo")
              .header__account-block.js-account-block
                ul.header__account-list
                  li.header__account-item
                    a(href="account-agent-edit-account.html") Редактировать профиль
                  li.header__account-item
                    a(href="account-agent-message.html") Сообщения
                  li.header__account-item
                    a(href="login.html") Выйти

      // Crumbs
      .crumbs
        .container
          +crumbsLink("crumbs__link","index.html", "Главная", " /")
          +crumbsLink("crumbs__link","catalog.html", "Каталог", " /")
          +crumbsLink("crumbs__link","catalog-category-guest.html", "Категория товаров/услуг", " /")
          +crumbsLink("crumbs__link","catalog-category-sub.html", "Подкатегория", " /")
          +crumbsLink("crumbs__link","", "Композитный состав CERAMET ANTICOR")

      section.main-content.item
        .container
          .row
            .col-left
              h1.item__title Композитный состав CERAMET ANTICOR, Москва, ООО Ромашка

              .item__top-info
                // Prew block
                .item__prew-block
                  .item__main-prew
                    img(src="img/contractor/prew/prew-img.jpg" alt="item-img")
                    .item__prew-mini
                      .item__prew-mini__block
                        img(src="img/contractor/prew/prew-img-mini1.jpg" alt="item-img-mini")
                      .item__prew-mini__block
                        img(src="img/contractor/prew/prew-img-mini2.jpg" alt="item-img-mini")
                      .item__prew-mini__block
                        img(src="img/contractor/prew/prew-img-mini3.jpg" alt="item-img-mini")
                      .item__prew-mini__block
                        img(src="img/contractor/prew/prew-img-mini4.jpg" alt="item-img-mini")
                // Top desc
                .item__prew-desc
                  span.item__cost-name Цена для агентов
                  .question &#63;
                    span.question__tooltip Цена с НДС. Без учёта доставки
                  .item__cost 600 &#8381;/кг
                  .item__prew-category
                    span.item__prew-name Минимальный объём:
                    span.item__prew-attr 5 000 кг
                  .item__prew-category
                    span.item__prew-name Вознаграждение агента:
                    span.item__prew-attr 15 &#37;
                  br
                  .item__prew-category
                    span.item__prew-name Регионы распространения:
                    span.item__prew-attr Москва, Нижний Новгород, Екатеринбург

                // Main desc
              .item__main-desc
                h2.order__block-title Описание
                .item__prew-category
                  p Керамзит — один из самых экологически чистых утеплителей. Производится путем обжига легкоплавких глин. Керамзит применяют так же в качестве заполнителя при производстве легких бетонов. Основными характеристиками керамзита является его насыпная плотность, теплопроводность и прочность.
              .item__main-desc
                h2.order__block-title Требования к торговому агенту
                .item__prew-category
                  p среднее или высшее образование;
                  p знание ПК;
                  p грамотная речь;
                  p умение продавать;
                  p водительские права;
                  p возраст от 20 до 35 лет.

            .col-right
              // Prew block
              .item__prew-info
                h2.order__block-title Информация о поставщике
                .item__prew-category
                  span.item__prew-name Поставщик:
                  span.item__prew-attr
                    a.green-check(href="contractor-page.html") ООО Ромашка

                .item__prew-category
                  span.item__prew-name Категория:
                  span.item__prew-attr
                    a(href="#~") Строительные материалы
                .item__prew-category
                  span.item__prew-name На портале:
                  span.item__prew-attr менее 1 года

                .item__prew-category
                  span.item__prew-name Регион местонахождения:
                  span.item__prew-attr Москва
                br
                .item__prew-category
                  span.item__prew-name Контактное лицо:
                  span.item__prew-attr Иванов Иван Иванович
              // Prew block
              .item__prew-info
                h2.order__block-title Условия поставки
                .item__prew-category
                  p Продаем керамзит фракций 5-10, 10-20, 20-40 насыпь и фасованный в МКР (1м3 и 0,9м3) и мешки 0,05м3. Цена от 1490 руб/м3. Отгрузка на самовывоз и ж/д транспортом. Возможна доставка собственным автотранспортом.

              .item__prew-info.item__prew-info--link-block
                h2.order__block-title Документы
                .item__prew-category
                  span.item__prew-name Форма договора поставки:
                  span.item__prew-attr
                    a(href="#~") Скачать
                .item__prew-category
                  span.item__prew-name Прайс-лист:
                  span.item__prew-attr
                    a(href="#~") Скачать

                .item__prew-category
                  span.item__prew-name Презентация (PDF):
                  span.item__prew-attr
                    a(href="#~") Скачать

                .item__prew-category
                  span.item__prew-name Другие документы:
                  span.item__prew-attr
                    a(href="#~") Условия_возврата.doc
                    a(href="#~") Еще_какой_то_документ.xls

            .col-lg-7.col-md-7.col-sm-12
              .item__button-block
                a.button.button--green(href="success-item.html") Опубликовать
                a.button.button--gray(href="account-contractor-edit-item.html") Вернуться к редактированию
              .item__bottom-info
                p #[strong Внимание!] После нажатия на кнопку публикации, страница будет отправлена на предварительную модерацию. Данные можно будет изменить не ранее одного календарного месяца с даты публикации. Будьте внимательны при заполнении.

          // Footer
        .prefooter
          picture
            source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
            img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

        footer.footer
          .container
            .row
              .col
                .footer__content-wrap
                  h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="privacy.html") Политика конфиденциальности
                    li.footer__list-item
                      a.footer__list-link(href="public-offer.html") Публичная оферта
                    li.footer__list-item
                      a.footer__list-link(href="news-list.html") Новости
                    li.footer__list-item
                      a.footer__list-link(href="contact-us.html") Связаться с нами
              .col
                .footer__content-wrap
                  h2.footer__title.js-footer-title Врынке #[span.arrow]
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="about.html") О платформе
                    li.footer__list-item
                      a.footer__list-link(href="careers-list.html") Работать у нас
                    li.footer__list-item
                      a.footer__list-link(href="partnership.html") Сотрудничать с нами
                    li.footer__list-item
                      a.footer__list-link(href="legal-info.html") Юридическая информация
              .col
                .footer__content-wrap
                  .logo.footer__logo
                    a(href="index.html")
                      img(src="img/footer-logo.png" alt="врынке.рф")
                  p.footer__copy &copy; Врынке, 2017. Все права защищены.
                  .footer__social
                    a.footer__social-icon.footer__social-vk(href="#~")
                    a.footer__social-icon.footer__social-inst(href="#~")
                    a.footer__social-icon.footer__social-facebook(href="#~")
                  .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
        include partials/scripts