<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
         nav.header__nav
          .toggle.header__toggle.js-toggle
            span.toggle__line
            span.toggle__line
            span.toggle__line
          .logo.header__logo
            a.header__logo-link
              img.logo-img.header__logo-img(src="img/logo.png" alt="врынке.рф")
          .header__list.js-header__list
            button.button.header__list-button.js-list-button
            .header__nav-list
              .header__nav-item.header__nav-item--active
                a(href="for-agent.html") Я — агент
              .header__nav-item
                a(href="for-contractor.html") Я — поставщик
              .header__nav-item
                a(href="catalog.html") Каталог предложений
              .header__nav-item
                a(href="regions-list.html") Регионы
             .header__nav-list.header__nav-list--mobile
              .header__nav-item
                a(href="about.html") О платформе
              .header__nav-item
                a(href="careers-list.html") Работать у нас
              .header__nav-item
                a(href="news.html") Новости
              .header__nav-item
                a(href="contact-us.html") Связаться с нами
          .header__sign-in
            a.button.header__button-account.js-button-account(href="#~")
               img(src="img/account-icon.png" alt="account-logo")
              .header__account-block.js-account-block
                ul.header__account-list
                  li.header__account-item
                    a(href="account-agent-edit-account.html") Редактировать профиль
                  li.header__account-item
                    a(href="account-agent-message.html") Сообщения
                  li.header__account-item
                    a(href="login.html") Выйти

      // Crumbs
      .crumbs
        .container
          +crumbsLink("crumbs__link","index.html", "Главная", " /")
          +crumbsLink("crumbs__link","regions-list.html", "Поставщик по регионам", " /")
          +crumbsLink("crumbs__link","", "Категория товаров/услуг")

      .order.order--item-list
        section.main-content
          .container
            h1.main-content__title Категория товаров / услуг *

            //- Subcategory
            .subcat
              span.subcat__name Подкатегории:
              .subcat__list-block
                ul.subcat__list
                   li.subcat__list-item
                     a(href="catalog-category-sub.html") Строительные материалы
                   li.subcat__list-item
                     a(href="catalog-category-sub.html") Отделочные материалы
                   li.subcat__list-item
                     a(href="catalog-category-sub.html") Строительные техгника и оборудование
                   li.subcat__list-item
                     a(href="catalog-category-sub.html") Вентиляционные системы
                   li.subcat__list-item
                     a(href="catalog-category-sub.html") Ландшафтные строения
                   li.subcat__list-item
                     a(href="catalog-category-sub.html") Строительный инструмент

            //- Search form
            .search-form
              form(action="" method="" id="")
                .input__search-block
                  input.input.input--search(type="text" name="search" placeholder="Поиск предложений...")
                  button.button.button--search
                .search-block__ft
                  span.input--ft--name Цена, руб.
                  +inputBlock('input--ft', 'text', 'from', 'от')
                  span.input--ft--line -
                  +inputBlock('input--ft', 'text', 'from', 'до')
                .search-block__ft.search-block__ft--ml
                  span.input--ft--name Вознаграждение, &#37;
                  +inputBlock('input--ft', 'text', 'from', 'от')
                  span.input--ft--line -
                  +inputBlock('input--ft', 'text', 'from', 'до')
                input.input(type="text" name="search" placeholder="Начните вводить регион")
                .search-block
                  input.check(type="checkbox" id="photo")
                  label.check-label(for="photo") с фото

            .order__table
              .table
                .tr.title-tr
                  .order__table-title.order__table-title--number--mob Наименование / цена
                  .th.order__table-title
                    .order__table-title--img Изображение
                  .th.order__table-title.order__table-title--number #[span.sorter] Наименование
                  .th.order__table-title.order__table-title--name  Регионы поставки
                  .th.order__table-title
                    .order__table-title--list-reward.order__table-title--reward #[span.sorter] Вознаграждение **
                  .th.order__table-title.order__table-title--cost #[span.sorter] Цена
                  .th.order__table-title.order__table-title--volume Мин. объём

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon1.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Композитный состав CERAMET ANTICOR
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 600 &#8381;/кг
                  .td.order__cost 5 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon2.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Опора деревянная пропитанная для ЛЭП
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 11%
                  .td.order__volume 1000 &#8381;/кг
                  .td.order__cost 20 шт
                  .td.order__edit
                    button.button.button--flag

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon3.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Носилки строительные
                  .td.order__status Нижний Новгород
                  .td.order__reward.order__list-reward 3%
                  .td.order__volume 300 &#8381;/кг
                  .td.order__cost 11 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active


                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon4.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Компенсатор усадки М30х300-100х100
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 150 &#8381;/кг
                  .td.order__cost 8 000 кг
                  .td.order__edit
                    button.button.button--flag


                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon5.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Встроенный сифон для сброса дренажа от кондиционеров HL 138
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 600 &#8381;/кг
                  .td.order__cost 5 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon6.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Ведро строительное пластиковое с ручкой
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 11%
                  .td.order__volume 1 000 &#8381;/кг
                  .td.order__cost 20 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon7.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Электроды ЛЭЗ, МР-3, Ф4
                  .td.order__status Нижний Новгород
                  .td.order__reward.order__list-reward 3%
                  .td.order__volume 300 &#8381;/кг
                  .td.order__cost 11 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active


                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon8.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Угловая насадка (сопло) Полинор
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 150 &#8381;/кг
                  .td.order__cost 8 000 кг
                  .td.order__edit
                    button.button.button--flag

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon1.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Плиты Quick Deck (Квик Дек) 16х2440х600
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 600 &#8381;/кг
                  .td.order__cost 5 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon9.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Композитный состав CERAMET ANTICOR
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 11%
                  .td.order__volume 1 000 &#8381;/кг
                  .td.order__cost 20 шт
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon1.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Композитный состав CERAMET ANTICOR
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 600 &#8381;/кг
                  .td.order__cost 5 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon2.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Опора деревянная пропитанная для ЛЭП
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 11%
                  .td.order__volume 1000 &#8381;/кг
                  .td.order__cost 20 шт
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon3.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Носилки строительные
                  .td.order__status Нижний Новгород
                  .td.order__reward.order__list-reward 3%
                  .td.order__volume 300 &#8381;/кг
                  .td.order__cost 11 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active


                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon4.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Компенсатор усадки М30х300-100х100
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 150 &#8381;/кг
                  .td.order__cost 8 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active


                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon5.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Встроенный сифон для сброса дренажа от кондиционеров HL 138
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 600 &#8381;/кг
                  .td.order__cost 5 000 кг
                  .td.order__edit
                    button.button.button--flag

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon6.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Ведро строительное пластиковое с ручкой
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 11%
                  .td.order__volume 1 000 &#8381;/кг
                  .td.order__cost 20 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon7.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Электроды ЛЭЗ, МР-3, Ф4
                  .td.order__status Нижний Новгород
                  .td.order__reward.order__list-reward 3%
                  .td.order__volume 300 &#8381;/кг
                  .td.order__cost 11 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active


                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon8.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Угловая насадка (сопло) Полинор
                  .td.order__status Москва
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 150 &#8381;/кг
                  .td.order__cost 8 000 кг
                  .td.order__edit
                    button.button.button--flag.button--flag--active

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon1.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Плиты Quick Deck (Квик Дек) 16х2440х600
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 15%
                  .td.order__volume 600 &#8381;/кг
                  .td.order__cost 5 000 кг
                  .td.order__edit
                    button.button.button--flag

                // Product line
                .tr
                  .td.order__img
                    img(src="img/account/list/list-group-icon9.png" alt=" product's img")
                  .td.order__name
                    a(href="account-agent-item-page.html") Композитный состав CERAMET ANTICOR
                  .td.order__status Москва, Нижний Новгород, Екатеринбург
                  .td.order__reward.order__list-reward 11%
                  .td.order__volume 1 000 &#8381;/кг
                  .td.order__cost 20 шт
                  .td.order__edit
                    button.button.button--flag

            include components/paginator


          // Footer
        .prefooter
          picture
            source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
            img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

        footer.footer
          .container
            .row
              .col
                .footer__content-wrap
                  h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="privacy.html") Политика конфиденциальности
                    li.footer__list-item
                      a.footer__list-link(href="public-offer.html") Публичная оферта
                    li.footer__list-item
                      a.footer__list-link(href="news-list.html") Новости
                    li.footer__list-item
                      a.footer__list-link(href="contact-us.html") Связаться с нами
              .col
                .footer__content-wrap
                  h2.footer__title.js-footer-title Врынке #[span.arrow]
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="about.html") О платформе
                    li.footer__list-item
                      a.footer__list-link(href="careers-list.html") Работать у нас
                    li.footer__list-item
                      a.footer__list-link(href="partnership.html") Сотрудничать с нами
                    li.footer__list-item
                      a.footer__list-link(href="legal-info.html") Юридическая информация
              .col
                .footer__content-wrap
                  .logo.footer__logo
                    a(href="index.html")
                      img(src="img/footer-logo.png" alt="врынке.рф")
                  p.footer__copy &copy; Врынке, 2017. Все права защищены.
                  .footer__social
                    a.footer__social-icon.footer__social-vk(href="#~")
                    a.footer__social-icon.footer__social-inst(href="#~")
                    a.footer__social-icon.footer__social-facebook(href="#~")
                  .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
        include partials/scripts
        script(src="js/project/button-flag.js")
