<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        include partials/nav

      .crumbs

      section.main-content.catalog
        .container
          h1.main-content__title Каталог предложений
          .row
            .col-lg-4.col-sm-6

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-1] Авто и мото #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Автозапчасти

                  li.catalog__list-item
                    a(href="catalog-category.html") Автоинструмент

                  li.catalog__list-item
                    a(href="catalog-category.html") Авто аксессуары

                  li.catalog__list-item
                    a(href="catalog-category.html") Автомобили легковые

                  li.catalog__list-item
                    a(href="catalog-category.html") Автомобили грузовые

                  li.catalog__list-item
                    a(href="catalog-category.html") Мотоциклы

                  li.catalog__list-item
                    a(href="catalog-category.html") Спецтехника

                  li.catalog__list-item
                    a(href="catalog-category.html") Шины диски колеса

                  li.catalog__list-item
                    a(href="catalog-category.html") Электроника для автомобилей

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие авто-мото товары

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-2] Бытовая техника #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Видео и аудиотехника

                  li.catalog__list-item
                    a(href="catalog-category.html") Кино и фотооборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Комплектующие

                  li.catalog__list-item
                    a(href="catalog-category.html") Компьютерная техника

                  li.catalog__list-item
                    a(href="catalog-category.html") Кухонная техника

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочая бытовая техника           

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-3] Бытовые товары #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Бытовая химия

                  li.catalog__list-item
                    a(href="catalog-category.html") Лакокрасочная продукция

                  li.catalog__list-item
                    a(href="catalog-category.html") Посуда

                  li.catalog__list-item
                    a(href="catalog-category.html") Предметы домашнего обихода

                  li.catalog__list-item
                    a(href="catalog-category.html") Товары для садоводов

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие бытовые товары  

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-4] Детские товары #[.arrow]
                ul.catalog__list 
                  li.catalog__list-item
                    a(href="catalog-category.html") Детская обувь

                  li.catalog__list-item
                    a(href="catalog-category.html") Детская одежда

                  li.catalog__list-item
                    a(href="catalog-category.html") Детское питание

                  li.catalog__list-item
                    a(href="catalog-category.html") Игрушки

                  li.catalog__list-item
                    a(href="catalog-category.html") Товары для новорожденных

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие детские товары  

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-5] Изделия для производства #[.arrow]

                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Запорная арматура

                  li.catalog__list-item
                    a(href="catalog-category.html") Крепеж

                  li.catalog__list-item
                    a(href="catalog-category.html") Пластмассы

                  li.catalog__list-item
                    a(href="catalog-category.html") Подшипники

                  li.catalog__list-item
                    a(href="catalog-category.html") Резина

                  li.catalog__list-item
                    a(href="catalog-category.html") Трубы

                  li.catalog__list-item
                    a(href="catalog-category.html") Химическая продукция

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие изделия для производства

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-6] Инструмент #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Строительный инструмент

                  li.catalog__list-item
                    a(href="catalog-category.html") Электроинструмент

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочий инструментя продукция

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие изделия для производства

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-7] Канцелярские товары #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Бумага и картон

                  li.catalog__list-item
                    a(href="catalog-category.html") Канцтовары

                  li.catalog__list-item
                    a(href="catalog-category.html") Полиграфическая продукция

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие канцтовары

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-8] Климатическая техника #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Вентиляционные системы

                  li.catalog__list-item
                    a(href="catalog-category.html") Кондиционеры

                  li.catalog__list-item
                    a(href="catalog-category.html") Отопительное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочая климатическая техника

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-9] Кожгалантерея #[.arrow]

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-10] Мебель #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Корпусная мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Кухонная мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Мебель для производственных помещений

                  li.catalog__list-item
                    a(href="catalog-category.html") Мебельная фурнитура

                  li.catalog__list-item
                    a(href="catalog-category.html") Мягкая мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Офисная мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Столы и стулья

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочая мебель

            .col-lg-4.col-sm-6

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-11] Медицинские товары #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Лекарственные средства

                  li.catalog__list-item
                    a(href="catalog-category.html") Косметика и парфюмерия

                  li.catalog__list-item
                    a(href="catalog-category.html") Товары медицинского назначения

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие медицинские товары

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-12] Оборудование #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Водоочистное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Горно-шахтное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Деревообрабатывающее оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Металлообрабатывающее оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Насосное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Нефтехимическое оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Оборудование для автосервиса

                  li.catalog__list-item
                    a(href="catalog-category.html") Оборудование для ароматизации

                  li.catalog__list-item
                    a(href="catalog-category.html") Оборудование для медучреждений

                  li.catalog__list-item
                    a(href="catalog-category.html") Оборудование для производства

                  li.catalog__list-item
                    a(href="catalog-category.html") Оборудование для сферы услуг

                  li.catalog__list-item
                    a(href="catalog-category.html") Подъемное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Сварочное оборудование и материалы

                  li.catalog__list-item
                    a(href="catalog-category.html") Световое оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Системы автоматизации

                  li.catalog__list-item
                    a(href="catalog-category.html") Складское оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Станки/Торговое оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Упаковка и упаковочное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Холодильное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Швейное оборудование

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочее оборудование

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-13] Одежда #[.arrow]

                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Аксессуары

                  li.catalog__list-item
                    a(href="catalog-category.html") Верхняя одежда

                  li.catalog__list-item
                    a(href="catalog-category.html") Головные уборы

                  li.catalog__list-item
                    a(href="catalog-category.html") Нижнее белье

                  li.catalog__list-item
                    a(href="catalog-category.html") Обувь

                  li.catalog__list-item
                    a(href="catalog-category.html") Спецодежда

                  li.catalog__list-item
                    a(href="catalog-category.html") Средства по уходу за обувью

                  li.catalog__list-item
                    a(href="catalog-category.html") Трикотаж

                  li.catalog__list-item
                    a(href="catalog-category.html") Форменная одежда

                  li.catalog__list-item
                    a(href="catalog-category.html") Чулочно-носочные изделия

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочая одежда и обувь

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-14] Подарки и сувениры #[.arrow]


                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Подарки

                  li.catalog__list-item
                    a(href="catalog-category.html") Сувениры

                  li.catalog__list-item
                    a(href="catalog-category.html") Подарки и сувениры - прочее

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-15] Продукты питания #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Алкогольная продукция

                  li.catalog__list-item
                    a(href="catalog-category.html") Безалкогольные напитки

                  li.catalog__list-item
                    a(href="catalog-category.html") Чай

                  li.catalog__list-item
                    a(href="catalog-category.html") Кондитерские изделия

                  li.catalog__list-item
                    a(href="catalog-category.html") Консервы

                  li.catalog__list-item
                    a(href="catalog-category.html") Кофе

                  li.catalog__list-item
                    a(href="catalog-category.html") Макаронные изделия

                  li.catalog__list-item
                    a(href="catalog-category.html") Молоко и молочные изделия

                  li.catalog__list-item
                    a(href="catalog-category.html") Мука и крупы

                  li.catalog__list-item
                    a(href="catalog-category.html") Мясо и мясные изделия

                  li.catalog__list-item
                    a(href="catalog-category.html") Овощи и фрукты

                  li.catalog__list-item
                    a(href="catalog-category.html") Рыбные изделия и морепродукты

                  li.catalog__list-item
                    a(href="catalog-category.html") Сырье и пищевые добавки

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочие продукты питания

              // Catalog block
              .catalog__block
                a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-16] Спортивные товары #[.arrow]
                ul.catalog__list
                  li.catalog__list-item
                    a(href="catalog-category.html") Корпусная мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Кухонная мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Мебель для производственных помещений

                  li.catalog__list-item
                    a(href="catalog-category.html") Мебельная фурнитура

                  li.catalog__list-item
                    a(href="catalog-category.html") Мягкая мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Офисная мебель

                  li.catalog__list-item
                    a(href="catalog-category.html") Столы и стулья

                  li.catalog__list-item
                    a(href="catalog-category.html") Прочая мебель

            .col-lg-4.col-sm-12
              .catalog__block-wrap

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-17] Средства связи #[.arrow]
                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Телекоммуникационное оборудование

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочие средства связи

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-18] Строительные и 
                    br
                    | отделочные материалы #[.arrow]

                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Бетон и железобетонные изделия

                    li.catalog__list-item
                      a(href="catalog-category.html") Искусственный камень

                    li.catalog__list-item
                      a(href="catalog-category.html") Кровельные материалы и изделия

                    li.catalog__list-item
                      a(href="catalog-category.html") Лакокрасочные материалы

                    li.catalog__list-item
                      a(href="catalog-category.html") Лесо и пиломатериалы

                    li.catalog__list-item
                      a(href="catalog-category.html") Отделочные материалы

                    li.catalog__list-item
                      a(href="catalog-category.html") ПлиткаРастворы и смеси

                    li.catalog__list-item
                      a(href="catalog-category.html") Сэндвич панели

                    li.catalog__list-item
                      a(href="catalog-category.html") Утеплитель

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочие строительные материалы

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-19] Строительные конструкции #[.arrow]
                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Входные двери

                    li.catalog__list-item
                      a(href="catalog-category.html") Клееный брус

                    li.catalog__list-item
                      a(href="catalog-category.html") Межкомнатные двери

                    li.catalog__list-item
                      a(href="catalog-category.html") Пластиковые окна

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочие строительные конструкции

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-20] Сырьё #[.arrow]
                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Вторичное сырьё

                    li.catalog__list-item
                      a(href="catalog-category.html") Горнохимическое сырьё

                    li.catalog__list-item
                      a(href="catalog-category.html") Искусственное сырьё

                    li.catalog__list-item
                      a(href="catalog-category.html") Металлургическое сырьё

                    li.catalog__list-item
                      a(href="catalog-category.html") Сырьё для производства строительных материалов

                    li.catalog__list-item
                      a(href="catalog-category.html") Сырьё животного происхождения

                    li.catalog__list-item
                      a(href="catalog-category.html") Сырьё растительного происхождения

                    li.catalog__list-item
                      a(href="catalog-category.html") Техническое сырьё

                    li.catalog__list-item
                      a(href="catalog-category.html") Топливно-энергетическое сырьё

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочее сырьё

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-21] Сумки и рюкзаки #[.arrow]

              .catalog__block-wrap
                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-22] Текстиль #[.arrow]
                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Пряжа и нитки

                    li.catalog__list-item
                      a(href="catalog-category.html") Текстиль для дома

                    li.catalog__list-item
                      a(href="catalog-category.html") Технический текстиль

                    li.catalog__list-item
                      a(href="catalog-category.html") Ткани

                    li.catalog__list-item
                      a(href="catalog-category.html") Швейная фурнитура

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочий текстиль

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-23] Товары для животных #[.arrow]
                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Аксессуары для животных

                    li.catalog__list-item
                      a(href="catalog-category.html") Корма

                    li.catalog__list-item
                      a(href="catalog-category.html") Средства по уходу

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочие товары для животных

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-24] Товары для творчества #[.arrow]

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-25] Упаковочные материалы #[.arrow]

                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-26] Бизнес-услуги #[.arrow]
                  ul.catalog__list
                    li.catalog__list-item
                      a(href="catalog-category.html") Бытовые услуги

                    li.catalog__list-item
                      a(href="catalog-category.html") Кадровые агентства

                    li.catalog__list-item
                      a(href="catalog-category.html") Консалтинг и аудит

                    li.catalog__list-item
                      a(href="catalog-category.html") Кредитование

                    li.catalog__list-item
                      a(href="catalog-category.html") Ландшафтный дизайн

                    li.catalog__list-item
                      a(href="catalog-category.html") Логистика и перевозка грузов

                    li.catalog__list-item
                      a(href="catalog-category.html") Охранные услуги

                    li.catalog__list-item
                      a(href="catalog-category.html") Рекламные услуги

                    li.catalog__list-item
                      a(href="catalog-category.html") Сертификация товаров и услуг

                    li.catalog__list-item
                      a(href="catalog-category.html") Страхование

                    li.catalog__list-item
                      a(href="catalog-category.html") Строительные услуги

                    li.catalog__list-item
                      a(href="catalog-category.html") Услуги лизинга

                    li.catalog__list-item
                      a(href="catalog-category.html") Финансовые услуги

                    li.catalog__list-item
                      a(href="catalog-category.html") Юридические услуги

                    li.catalog__list-item
                      a(href="catalog-category.html") Прочие бизнес услуги


                // Catalog block
                .catalog__block
                  a.catalog__title(href="catalog-category.html")#[span.catalog__title-icon-27] Прочее #[.arrow]

      //- Footer
      .prefooter
        picture
          source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
          img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

      footer.footer
        .container
          .row
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Информация и поддержка #[.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="privacy.html") Политика конфиденциальности
                  li.footer__list-item
                    a.footer__list-link(href="public-offer.html") Публичная оферта
                  li.footer__list-item
                    a.footer__list-link(href="news-list.html") Новости
                  li.footer__list-item
                    a.footer__list-link(href="contact-us.html") Связаться с нами
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Врынке #[.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="about.html") О платформе
                  li.footer__list-item
                    a.footer__list-link(href="careers-list.html") Работать у нас
                  li.footer__list-item
                    a.footer__list-link(href="partnership.html") Сотрудничать с нами
                  li.footer__list-item
                    a.footer__list-link(href="legal-info.html") Юридическая информация
            .col
              .footer__content-wrap
                .logo.footer__logo
                  a(href="index.html")
                    img(src="img/footer-logo.png" alt="врынке.рф")
                p.footer__copy &copy; Врынке, 2017. Все права защищены.
                .footer__social
                  a.footer__social-icon.footer__social-vk(href="#~")
                  a.footer__social-icon.footer__social-inst(href="#~")
                  a.footer__social-icon.footer__social-facebook(href="#~")
                .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts
      script.
        function linkStop(){
          $('.catalog__title').click(function(e){
                e.preventDefault();
          })        
        }
        if($(window).width() < 767){
          linkStop();
        }
        
