<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    .person
      include helpers/mixin
      .container-fluid
        .container
          //- Header
          include partials/nav
        header.person__header
          .container
            h1.person__header-title #[strong.logo-text #[strong.logo-text__char в]рынке] 
              br
              | для поставщиков
            .person__header-img
        .person__content
            //Why us
          section.person__whyus
            .container
              h2.person__block-title.person__whyus-title.person__block-title--center Почему #[strong.logo-text #[strong.logo-text__char в]рынке]?
              .row
                .col-lg-3.col-md-3.col-sm-6.person__block-wrap
                  .person__whyus-block
                    .person__whyus-img
                      img(src="img/contractor/block-icon-1.png")
                    p #[strong.logo-text #[strong.logo-text__char в]рынке] - площадка, объединяющая поставщиков товаров и услуг и, торговых агентов в регионах
                .col-lg-3.col-md-3.col-sm-6.person__block-wrap
                  .person__whyus-block
                    .person__whyus-img
                      img(src="img/contractor/block-icon-2.png")
                    p #[strong.logo-text #[strong.logo-text__char в]рынке]  экономит средства поставщиков
                .col-lg-3.col-md-3.col-sm-6.person__block-wrap
                  .person__whyus-block
                    .person__whyus-img
                      img(src="img/contractor/block-icon-3.png")
                    p #[strong.logo-text #[strong.logo-text__char в]рынке] позволяет платить только за свершившийся факт продажи 
                .col-lg-3.col-md-3.col-sm-6.person__block-wrap
                  .person__whyus-block
                    .person__whyus-img
                      img(src="img/contractor/block-icon-4.png")
                    p #[strong.logo-text #[strong.logo-text__char в]рынке] поможет обратить внимание на ваш товар и его особенности

            // person working
          section.person__working
            .container
              h2.person__block-title Как работает #[strong.logo-text #[strong.logo-text__char в]рынке]?
              .person__block-row
                .person__text-block
                  p.person__block-untitle После регистрации вы:
                  ul.person__block-list
                    li.person__list-item Видите в системе товары и услуги и процент вознаграждения за организацию их продаж

                    li.person__list-item Выбираете близкую вам товар или услугу

                    li.person__list-item Получаете необходимую информацию о товаре или услуге

                    li.person__list-item Связываетесь при необходимости для получения дополнительных данных

                    li.person__list-item Находите покупателя товара или услуги

                    li.person__list-item Организуете заключение договора

                    li.person__list-item Помогаете при коммуникации / сопровождаете сделку

                    li.person__list-item Получаете вознаграждение за свершившийся факт продажи (после сделки)
                .person__img-block
                  img(src="img/contractor/vrynke-icon.png" alt="vrynke.rf")

            // person Platform info
          section.person__platform-info
            .container
              .person__block-row
                .person__img-block
                    img(src="img/contractor/reg-icon.png" alt="vrynke.rf platform")
                .person__text-block
                  h2.person__block-title Как воспользоваться 
                    br
                    | платформой #[strong.logo-text #[strong.logo-text__char в]рынке]?
                  ul.person__block-list 
                    li.person__list-item Регистрируйтесь в системе

                    li.person__list-item Получаете подтверждение регистрации и уникальный номер

                    li.person__list-item Если вы хотите получить статус подтвержденной компании, необходимо сделать дополнительные действия и к вашим товарам и услугам отнесутся по особенному

                    li.person__list-item Разместите в платформе информацию о товаре или услуге:

                      // unlist
                      ul.person__block-unlist
                        li.person__list-item.person__list-item--unlist фото или описание
                        li.person__list-item.person__list-item--unlist файлы с рекламными буклетами и иной информацией
                        li.person__list-item.person__list-item--unlist видео с описанием особенностей и «фишек» вашего товара или услуги
                        li.person__list-item.person__list-item--unlist шаблоны договоров
                        li.person__list-item.person__list-item--unlist регион распространения
                        li.person__list-item.person__list-item--unlist  размер вознаграждения в процентах от цены договора (обратите внимание, что размер вознаграждения не включает в себя установленные законодательством отчисления, которые подлежат оплате сверх суммы вознаграждения физическому лицу. уточните у своего бухгалтера)
                        li.person__list-item.person__list-item--unlist иные необходимые данные

                    li.person__list-item подпишите с торговым агентом договор об услугах по продвижению или воспользуйтесь услугой «гарантированное вознаграждение» (см. подробную информацию здесь)

                    li.person__list-item отвечайте на уточняющие запросы торговых агентов о товаре, ценах, скидках и т.п.

                    li.person__list-item заключайте договоры

                    li.person__list-item оплачивайте вознаграждение и продолжайте развиваться при помощи #[strong.logo-text #[strong.logo-text__char в]рынке]

            // person info block
          section.person__info-block
            .container
              .row
                .col-sm-11.col-md-6.person__block
                  h2.person__block-title Сколько стоит продвигать товар или услугу через #[strong.logo-text #[strong.logo-text__char в]рынке]?
                  h3.person__block-title--lg Оплата вознаграждения производится по факту продажи
                  p.person__block-untitle Поставщик может выбрать дополнительные платные услуги платформы, такие как:
                  ul.list-block
                    li.list-block__item Организация маркетинговой и PR кампании в регионе
                      span 1

                    li.list-block__item Дополнительное обучение торговых агентов
                      span 2

                    li.list-block__item Координация деятельности торговых агентов
                      span 3

                    li.list-block__item Сбор заказов и их оформление
                      span 4

                .col-sm-11.col-md-6.person__block
                  h2.person__block-title Как научиться правильно рассказать о моем товаре или услуге?
                  ul.list-block
                    li.list-block__item Разместите максимум необходимой информации о товаре через личный кабинет

                      span 1

                    li.list-block__item Обратите внимание торгового агента на необходимость обучения
                      span 2

                    li.list-block__item Договоритесь с платформой #[strong.logo-text #[strong.logo-text__char в]рынке] о проведении дополнительных обучающих программ (вебинаров или семинаров)
                      span 3

                    li.list-block__item Направляйте новостную информацию о своих товарах или услугах через #[strong.logo-text #[strong.logo-text__char в]рынке]
                      span 4

                    li.list-block__item Отвечайте на уточняющие запросы торговых агентов о товаре, ценах, скидках и т.п.
                      span 5

            // person Platform info
          section.person__platform-info
            .container
              .person__block-row
                .person__img-block
                    img(src="img/contractor/reward-icon.png" alt="vrynke.rf reward")
                .person__text-block
                  h2.person__block-title Как убедиться, что после поставки вознаграждение будет уплачено?
                  p.person__block-untitle воспользоваться услугой #[strong.logo-text #[strong.logo-text__char в]рынке] «гарантированное вознаграждение»

                  ul.person__block-list
                    li.person__list-item сумма вознаграждения (с учетом налогов) и стоимость такой услуги переводится на счет #[strong.logo-text #[strong.logo-text__char в]рынке]

                    li.person__list-item торговому агенту направляется сообщение о поступлении суммы вознаграждения на счет #[strong.logo-text #[strong.logo-text__char в]рынке]

                    li.person__list-item торговый агент организует заключение договора

                    li.person__list-item после получения подтверждения о поставке товара или оказании услуги вознаграждение перечисляется конкретному торговому агенту за минусом причитающихся налогов (см. подробную информацию здесь

                    li.person__list-item стоимость услуги: 10% от суммы вознаграждения; подлежит оплате в пользу #[strong.logo-text #[strong.logo-text__char в]рынке]



            // person line
          section.person__line
            .container
              h2.person__block-title.person__block-title--center Что если торговый агент выполнил свою работу, 
                br
                | а поставщик не выплатил причитающееся вознаграждение?
              .person__block-row
                  p.person__par.person__par--contractor Однако в случае если поставщик не выплатил торговому агенту причитающееся ему вознаграждение, торговый агент должен сообщить об этом специалистам #[strong.logo-text #[strong.logo-text__char в]рынке] и указать детали совершенной операции, чтобы #[strong.logo-text #[strong.logo-text__char в]рынке] обратила внимание на такого поставщика и предприняла соответствующие меры в отношении такого недобросовестного пользователя

          section.person__reg-block
            .container
              h2.person__reg-title #[strong.logo-text #[strong.logo-text__char в]рынке] дает  возможность вашему товару или услуге 
                br
                | найти покупателя в любом регионе с понятными затратами.
              .person__button-block
                a.button.button--reg(href="registration.html") Зарегистрироваться сейчас

          // Footer
      .prefooter
  picture
    source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
    img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

footer.footer
  .container
    .row
      .col
        .footer__content-wrap
          h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
          ul.footer__list
            li.footer__list-item
              a.footer__list-link(href="privacy.html") Политика конфиденциальности
            li.footer__list-item
              a.footer__list-link(href="public-offer.html") Публичная оферта
            li.footer__list-item
              a.footer__list-link(href="news-list.html") Новости
            li.footer__list-item
              a.footer__list-link(href="contact-us.html") Связаться с нами
      .col
        .footer__content-wrap
          h2.footer__title.js-footer-title Врынке #[span.arrow]
          ul.footer__list
            li.footer__list-item
              a.footer__list-link(href="about.html") О платформе
            li.footer__list-item
              a.footer__list-link(href="careers-list.html") Работать у нас
            li.footer__list-item
              a.footer__list-link(href="partnership.html") Сотрудничать с нами
            li.footer__list-item
              a.footer__list-link(href="legal-info.html") Юридическая информация
      .col
        .footer__content-wrap
          .logo.footer__logo
            a(href="index.html")
              img(src="img/footer-logo.png" alt="врынке.рф")
          p.footer__copy &copy; Врынке, 2017. Все права защищены.
          .footer__social
            a.footer__social-icon.footer__social-vk(href="#~")
            a.footer__social-icon.footer__social-inst(href="#~")
            a.footer__social-icon.footer__social-facebook(href="#~")
          .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts