<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
    link(rel="stylesheet", href="css/slick.css")
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        include partials/nav
      header.main-header
        .container

          // Main title
          h1.main-header__title ПЛАТФОРМА РЕГИОНАЛЬНЫХ ПРОДАЖ 
            br
            | ТОВАРОВ И УСЛУГ
          p.main-header__desc Поставщикам – новые рынки сбыта,
            br
            | вам – новые возможности для заработка

          // Button block
          .main-header__button-block
            .main-header__button-wrap
              a.button.button--main--sup(href="for-contractor.html") Я - поставщик
              .main-header__button-desc Открыть новые рынки сбыта моих
                br
                | товаров или услуг.
            .main-header__button-wrap
              a.button.button--main--agent(href="for-agent.html") Я - агент
              .main-header__button-desc Продвигать товары и услуги в своём регионе
                br
                | и получать вознаграждение с каждой продажи

      section.main
          // Video block
          .main__video-block(data-youtube="C0DPdy98e4c")
            .main__video
            button.button.main__video-button
        .container
          p.main__firm-desc #[strong.logo-text #[span.logo-text__char в]рынке] – платформа,
            br
            | объединяющая поставщиков товаров и услуг и торговых агентов напрямую для организации прямых продаж в различных регионах
          .row.main__content
            .main__column.main__img-block--right
              .main__img-block
              .main__col--first
                h2.main__list-title Для поставщика
                p.main__list-desc увеличьте регионы и объёмы распространение

                // List block
                ul.list-block
                  li.list-block__item Врынке поможет найти ваших прямых торговых агентов по стране.
                    span 1
                  li.list-block__item Врынке поможет обучить торговых агентов и научить, как рассказать о товаре и услуге правильно, чтобы покупатель остался доволен и вернулся.
                    span 2
                  li.list-block__item Вам помогают рассказать о постоянных или текущих предложениях напрямую своим потенциальным клиентам.
                    span 3
                  li.list-block__item Вы экономите на создании офисов прямых продаж.
                    span 4
                  li.list-block__item Вы честно платите только за свою свершившуюся продажу.
                    span 5

                // button more
                a.button.button--more(href="for-agent.html") Узнать больше
            .main__column.main__img-block--left
              .main__img-block
              .main__col--fourth
                h2.main__list-title Для торговых агентов
                p.main__list-desc зарабатывайте больше

                // List block
                ul.list-block
                  li.list-block__item Врынке поможет найти тот товар или услугу, которая близка вам и вы понимаете, что при вашей активной поддержке, вы можете рассказать о нем другим компаниям или людям.
                    span 1
                  li.list-block__item Врынке обучит вас и поможет как это сделать правильно.
                    span 2
                  li.list-block__item Вы объединяете тех, кому очень что-то нужно купить и тех, кто что-то хочет продать или оказать какую-то услугу.
                    span 3
                  li.list-block__item Кто-то получит нужный товар или услугу, производитель делает такой товар или услугу доступней, а вы получаете вознаграждение за свой труд.
                    span 4

                // button more
                a.button.button--more(href="for-contractor.html") Узнать больше
          article.news.main__news-block
            h2.main__news-block__title Новости
            .slider
              .news__slide
                +newsBlock('news-img1', 'Россияне привезут из Швеции новые профессии', '12 декабря 2016')
              .news__slide
                +newsBlock('news-img2', 'Большинство работодателей повысят зарплату сотрудникам', '12 декабря 2016')
              .news__slide
                +newsBlock('news-img3', 'Бедный мой бухгалтер', '12 декабря 2016')
              .news__slide.main__news-last
                +newsBlock('news-img4', 'Пассажиров метро научать искать работу', '12 декабря 2016')
            .main__news-block__button-block
              a.button.button--more(href="news-list.html") Другие новости

        // Footer
      .prefooter
        picture
          source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
          img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

      footer.footer
        .container
          .row
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="privacy.html") Политика конфиденциальности
                  li.footer__list-item
                    a.footer__list-link(href="public-offer.html") Публичная оферта
                  li.footer__list-item
                    a.footer__list-link(href="news-list.html") Новости
                  li.footer__list-item
                    a.footer__list-link(href="contact-us.html") Связаться с нами
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Врынке #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="about.html") О платформе
                  li.footer__list-item
                    a.footer__list-link(href="careers-list.html") Работать у нас
                  li.footer__list-item
                    a.footer__list-link(href="partnership.html") Сотрудничать с нами
                  li.footer__list-item
                    a.footer__list-link(href="legal-info.html") Юридическая информация
            .col
              .footer__content-wrap
                .logo.footer__logo
                  a(href="index.html")
                    img(src="img/footer-logo.png" alt="врынке.рф")
                p.footer__copy &copy; Врынке, 2017. Все права защищены.
                .footer__social
                  a.footer__social-icon.footer__social-vk(href="#~")
                  a.footer__social-icon.footer__social-inst(href="#~")
                  a.footer__social-icon.footer__social-facebook(href="#~")
                .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts
      script(src="js/project/slick.min.js")
      script.
        $(".main__video-button").click(function(){
          var dataYoutube = $(this).parents('.main__video-block').attr('data-youtube');
          $(this).parents('.main__video-block').html('<iframe src="https://www.youtube.com/embed/'+ dataYoutube +'?autoplay=1" frameborder="0" allowfullscreen></iframe>')
        });