<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        include partials/nav
      header.news-header(style="background-image: url(img/news/news-page-head.jpg);")
        .container
          .news-header__desc-block
            h1.news-header__title Россияне привезут из Швеции новые профессии
            time.news-header__date 12 декабря 2016
      section.news-content
        .container

          // Strong
          strong Специалисты нового формата в таких сферах, как медицинский и социальный уход, сборка металлической кровли, укладка пола и обслуживание грузовой техники, появятся в России. Эксперты из нашей страны по этим компетенциям приехали в Швецию на чемпионат EuroSkills, чтобы изучить опыт других стран и начать его транслировать в России. Об этом рассказал журналистам президент движения WorkdSkillsRussia Роберт Уразов.

          // Paragraph
          p Компетенция "медицинский и социальный уход" - традиционная для Европы, но практически новая для России. По словам Уразова, у нас есть некое наследие Советского Союза: медсестер и сиделок готовят отдельно, это разные профессии - одна медицинская, другая - социальная. И в программу подготовки сиделок не входит, к примеру, обучение тому, как ставить уколы. "А во всем мире - это "сшитая" компетенция", - продолжает он. Именно поэтому Россия не направила участника, который мог бы соревноваться с представителями других государств, специализирующихся на медицинском и социальном уходе. Зато направила тренера, который будет внимательно следить за ходом соревнований, а потом обучать этим навыкам молодых специалистов и их наставников, но уже не на "советский", а на "европейский" манер.

          // Paragraph
          p Эта тема очень актуальна для России, поскольку специалистов, которые бы занимались уходом, например, за пожилыми людьми, как на дому, так и в домах престарелых, практически нет. Старикам, живущим дома, часто помогают соцработники, которые могут сделать для них нужные покупки или помыть окна и пол, сварить суп, но они не ставят уколы, не ухаживают за лежачим человеком так, чтобы у него не было пролежней. В домах престарелых уходом за пожилыми занимаются санитарки, но их основная функция другая - поддерживать чистоту в помещениях. Эта проблема обсуждалась недавно на заседании попечительского совета в соцсфере под председательством вице-премьера Ольги Голодец, которая дала поручения Минтруду и Минздраву разработать единые стандарты оказания гериатрической медицинской помощи и социальных услуг пожилым, в частности - стандарт по уходу за стариками.

          // Paragraph
          p Как рассказал Уразов, вообще чемпионаты WorldSkills помогают странам познавать азы профессий, которые раньше не были в них развиты. Например, на международном чемпионате, который проходил а августе 2015 года в Сан-Паулу, от России не было участника по такой специальности, как флористика - как раз потому, что у нас в стране вообще почти нет профессионалов по этому направлению, несмотря на то, казалось бы, большое число цветочных магазинов. Но зато в Бразилию ездил эксперт, который практически внедрился в профессиональное сообщество, перенял навыки представителей других стран. И уже в этом году в европейском чемпионате примут участие две девушки из России, и, по мнению организаторов, они достаточно хорошо подготовлены и смогут достойно конкурировать с соперницами из более "продвинутых", с точки зрения флористики, стран.

          // Paragraph
          p Второй пример - ландшафтный дизайн. "У нас не было никаких наработок, наши "специалисты" имели очень слабое представление, о том, что это такое. В Сан-Паулу мы отвезли эксперта, и за год собрали такую компетенцию, что сейчас этому учат почти во всех регионах и на неплохом уровне. Рассчитываем, что займем достаточно высокие места и по флористике, и по ландшафному дизайну. Хотя на первые позиции претендовать еще рано. В Европе сами соревнования проходят 60 лет, а мы пришли в них 4 года назад, и нам тяжело конкурировать", - продолжил Уразов. И добавил: мы стремимся к тому, чтобы в итоге сделать систему подготовки одной из лучших в мире.


          article.news
            h2.news__block-title Читайте также
            .row
              .col-sm-4
                +newsBlock('news-img1', 'Россияне привезут из Швеции новые профессии', '12 декабря 2016')
              .col-sm-4
                +newsBlock('news-img2', 'Большинство работодателей повысят зарплату сотрудникам', '12 декабря 2016')
              .col-sm-4
                +newsBlock('news-img3', 'Бедный мой бухгалтер', '12 декабря 2016')

        // Footer
      .prefooter
  picture
    source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
    img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

footer.footer
  .container
    .row
      .col
        .footer__content-wrap
          h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
          ul.footer__list
            li.footer__list-item
              a.footer__list-link(href="privacy.html") Политика конфиденциальности
            li.footer__list-item
              a.footer__list-link(href="public-offer.html") Публичная оферта
            li.footer__list-item
              a.footer__list-link(href="news-list.html") Новости
            li.footer__list-item
              a.footer__list-link(href="contact-us.html") Связаться с нами
      .col
        .footer__content-wrap
          h2.footer__title.js-footer-title Врынке #[span.arrow]
          ul.footer__list
            li.footer__list-item
              a.footer__list-link(href="about.html") О платформе
            li.footer__list-item
              a.footer__list-link(href="careers-list.html") Работать у нас
            li.footer__list-item
              a.footer__list-link(href="partnership.html") Сотрудничать с нами
            li.footer__list-item
              a.footer__list-link(href="legal-info.html") Юридическая информация
      .col
        .footer__content-wrap
          .logo.footer__logo
            a(href="index.html")
              img(src="img/footer-logo.png" alt="врынке.рф")
          p.footer__copy &copy; Врынке, 2017. Все права защищены.
          .footer__social
            a.footer__social-icon.footer__social-vk(href="#~")
            a.footer__social-icon.footer__social-inst(href="#~")
            a.footer__social-icon.footer__social-facebook(href="#~")
          .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts