<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    .person
      include helpers/mixin
      .container-fluid
        .container
          //- Header
          include partials/nav

        //- Crumbs
        .crumbs

        section.main-content.person__reg
          .container
            h1.main-title Регистрация
            .row
              .col-sm-6.col-xs-12
                .person__reg-block.person__reg-block--agent
                  h2.person__block-name Я – поставщик товаров или услуг:
                  ul.person__link-list
                    li.person__link-item
                      a(href="#~") Юридическое лицо
                    li.person__link-item
                      a(href="#~") Индивидуальный предприниматель
                    li.person__link-item
                      a(href="#~") Физическое лицо
              .col-sm-6.col-xs-12
                .person__reg-block.person__reg-block--contractor
                  h2.person__block-name Я – агент:
                  ul.person__link-list
                    li.person__link-item
                      a(href="#~") Юридическое лицо
                    li.person__link-item
                      a(href="#~") Индивидуальный предприниматель
                    li.person__link-item
                      a(href="#~") Физическое лицо

        .prefooter.prefooter--another
          picture
            source.prefooter__img-block(srcset="img/footer-img-another-mob.png" media="(max-width: 991px)")
            img.prefooter__img-block(src="img/footer-img-another.png", alt="footer-img")

        footer.footer
          .container
            .row
              .col-sm-4
                .footer__content-wrap
                  .logo.footer__logo
                    img(src="img/footer-logo.png" alt="врынке.рф")
                  p.footer__copy &copy; Врынке, 2017. Все права защищены.
                  .footer__social
                    a.footer__social-icon.footer__social-vk(href="#~")
                    a.footer__social-icon.footer__social-inst(href="#~")
                    a.footer__social-icon.footer__social-facebook(href="#~")
                  .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
              .col-sm-4
                .footer__content-wrap
                  h2.footer__title.js-footer-title Врынке
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="#~") О платформе
                    li.footer__list-item
                      a.footer__list-link(href="#~") Работать у нас
                    li.footer__list-item
                      a.footer__list-link(href="#~") Сотрудничать с нами
                    li.footer__list-item
                      a.footer__list-link(href="#~") Юридическая информация
              .col-sm-4
                .footer__content-wrap
                  h2.footer__title.js-footer-title Информация и поддержка
                  ul.footer__list
                    li.footer__list-item
                      a.footer__list-link(href="#~") Политика конфиденциальности
                    li.footer__list-item
                      a.footer__list-link(href="#~") Публичная оферта
                    li.footer__list-item
                      a.footer__list-link(href="#~") Новости
                    li.footer__list-item
                      a.footer__list-link(href="#~") Связаться с нами

      // Scripts
      include partials/scripts