html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        include partials/nav
      .crumbs

      section.main-content.regions-list
        .container
          h1.main-content__title Регионы поставок
          .regions-list__block-wrap
            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Москва
                li.regions-list__item
                  a(href="#~") Нижний Новгород
                li.regions-list__item
                  a(href="#~") Грозный
                li.regions-list__item
                  a(href="#~") Петрозаводск
                li.regions-list__item
                  a(href="#~") Санкт-Петербург
                li.regions-list__item
                  a(href="#~") Ростов-на-Дону
                li.regions-list__item
                  a(href="#~") Мурманск
                li.regions-list__item
                  a(href="#~") Владикавказ
                li.regions-list__item
                  a(href="#~") Кострома
                li.regions-list__item
                  a(href="#~") Краснодар
                li.regions-list__item
                  a(href="#~") Чебоксары
                li.regions-list__item
                  a(href="#~") Петропавловск-Камчатский
                li.regions-list__item
                  a(href="#~") Владимир

            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Красноярск
                li.regions-list__item
                  a(href="#~") Орёл
                li.regions-list__item
                  a(href="#~") Улан-Удэ
                li.regions-list__item
                  a(href="#~") Казань
                li.regions-list__item
                  a(href="#~") Воронеж
                li.regions-list__item
                  a(href="#~") Йошкар-Ола
                li.regions-list__item
                  a(href="#~") Саранск
                li.regions-list__item
                  a(href="#~") Белгород
                li.regions-list__item
                  a(href="#~") Махачкала
                li.regions-list__item
                  a(href="#~") Омск
                li.regions-list__item
                  a(href="#~") Тамбов
                li.regions-list__item
                  a(href="#~") Калуга
                li.regions-list__item
                  a(href="#~") Великий Новгород
                  
            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Новосибирск
                li.regions-list__item
                  a(href="#~") Тула
                li.regions-list__item
                  a(href="#~") Барнаул
                li.regions-list__item
                  a(href="#~") Ижевск
                li.regions-list__item
                  a(href="#~") Ставрополь
                li.regions-list__item
                  a(href="#~") Ярославль
                li.regions-list__item
                  a(href="#~") Челябинск
                li.regions-list__item
                  a(href="#~") Екатеринбург
                li.regions-list__item
                  a(href="#~") Рязань
                li.regions-list__item
                  a(href="#~") Курск
                li.regions-list__item
                  a(href="#~") Астрахань
                li.regions-list__item
                  a(href="#~") Архангельск
                li.regions-list__item
                  a(href="#~") Липецк
                  
            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Уфа
                li.regions-list__item
                  a(href="#~") Вологда
                li.regions-list__item
                  a(href="#~") Самара
                li.regions-list__item
                  a(href="#~") Хабаровск
                li.regions-list__item
                  a(href="#~") Владивосток
                li.regions-list__item
                  a(href="#~") Курган
                li.regions-list__item
                  a(href="#~") Тюмень
                li.regions-list__item
                  a(href="#~") Ульяновск
                li.regions-list__item
                  a(href="#~") Кемерово
                li.regions-list__item
                  a(href="#~") Брянск
                li.regions-list__item
                  a(href="#~") Тверь
                li.regions-list__item
                  a(href="#~") Волгоград


        // Footer
      .prefooter
        picture
          source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
          img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

      footer.footer
        .container
          .row
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="privacy.html") Политика конфиденциальности
                  li.footer__list-item
                    a.footer__list-link(href="public-offer.html") Публичная оферта
                  li.footer__list-item
                    a.footer__list-link(href="news-list.html") Новости
                  li.footer__list-item
                    a.footer__list-link(href="contact-us.html") Связаться с нами
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Врынке #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="about.html") О платформе
                  li.footer__list-item
                    a.footer__list-link(href="careers-list.html") Работать у нас
                  li.footer__list-item
                    a.footer__list-link(href="partnership.html") Сотрудничать с нами
                  li.footer__list-item
                    a.footer__list-link(href="legal-info.html") Юридическая информация
            .col
              .footer__content-wrap
                .logo.footer__logo
                  a(href="index.html")
                    img(src="img/footer-logo.png" alt="врынке.рф")
                p.footer__copy &copy; Врынке, 2017. Все права защищены.
                .footer__social
                  a.footer__social-icon.footer__social-vk(href="#~")
                  a.footer__social-icon.footer__social-inst(href="#~")
                  a.footer__social-icon.footer__social-facebook(href="#~")
                .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts