html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        include partials/nav
      .crumbs

      section.main-content.regions-list
        .container
          h1.main-content__title Регионы поставок
          .regions-list__block-wrap
            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Москва
                li.regions-list__item
                  a(href="#~") Нижний Новгород
                li.regions-list__item
                  a(href="#~") Грозный
                li.regions-list__item
                  a(href="#~") Петрозаводск
                li.regions-list__item
                  a(href="#~") Санкт-Петербург
                li.regions-list__item
                  a(href="#~") Ростов-на-Дону
                li.regions-list__item
                  a(href="#~") Мурманск
                li.regions-list__item
                  a(href="#~") Владикавказ
                li.regions-list__item
                  a(href="#~") Кострома
                li.regions-list__item
                  a(href="#~") Краснодар
                li.regions-list__item
                  a(href="#~") Чебоксары
                li.regions-list__item
                  a(href="#~") Петропавловск-Камчатский
                li.regions-list__item
                  a(href="#~") Владимир

            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Красноярск
                li.regions-list__item
                  a(href="#~") Орёл
                li.regions-list__item
                  a(href="#~") Улан-Удэ
                li.regions-list__item
                  a(href="#~") Казань
                li.regions-list__item
                  a(href="#~") Воронеж
                li.regions-list__item
                  a(href="#~") Йошкар-Ола
                li.regions-list__item
                  a(href="#~") Саранск
                li.regions-list__item
                  a(href="#~") Белгород
                li.regions-list__item
                  a(href="#~") Махачкала
                li.regions-list__item
                  a(href="#~") Омск
                li.regions-list__item
                  a(href="#~") Тамбов
                li.regions-list__item
                  a(href="#~") Калуга
                li.regions-list__item
                  a(href="#~") Великий Новгород
                  
            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Новосибирск
                li.regions-list__item
                  a(href="#~") Тула
                li.regions-list__item
                  a(href="#~") Барнаул
                li.regions-list__item
                  a(href="#~") Ижевск
                li.regions-list__item
                  a(href="#~") Ставрополь
                li.regions-list__item
                  a(href="#~") Ярославль
                li.regions-list__item
                  a(href="#~") Челябинск
                li.regions-list__item
                  a(href="#~") Екатеринбург
                li.regions-list__item
                  a(href="#~") Рязань
                li.regions-list__item
                  a(href="#~") Курск
                li.regions-list__item
                  a(href="#~") Астрахань
                li.regions-list__item
                  a(href="#~") Архангельск
                li.regions-list__item
                  a(href="#~") Липецк
                  
            // Regions block
            .regions-list__block
              ul
                li.regions-list__item
                  a(href="#~") Уфа
                li.regions-list__item
                  a(href="#~") Вологда
                li.regions-list__item
                  a(href="#~") Самара
                li.regions-list__item
                  a(href="#~") Хабаровск
                li.regions-list__item
                  a(href="#~") Владивосток
                li.regions-list__item
                  a(href="#~") Курган
                li.regions-list__item
                  a(href="#~") Тюмень
                li.regions-list__item
                  a(href="#~") Ульяновск
                li.regions-list__item
                  a(href="#~") Кемерово
                li.regions-list__item
                  a(href="#~") Брянск
                li.regions-list__item
                  a(href="#~") Тверь
                li.regions-list__item
                  a(href="#~") Волгоград


        // Footer
      include partials/footer
      include partials/scripts