<!DOCTYPE html>
html(lang="en")
  head
    include partials/meta
  body
    include helpers/mixin
    .container-fluid
      .container
        //- Header
        include partials/nav
      .crumbs

      // Recover your password
      section.main-content
        .container
          .main-content__success
            h1.main-content__title Пароль успешно изменён
            p Новый пароль отправлен на ваш адрес эл. почты, указанный при регистрации.
              br
              | Теперь вы можете войти в личный кабинет, используя новый пароль
            a.button.button--confirm-reg(href="login.html") Вход в личный кабинет


        // Footer
      .prefooter
        picture
          source.prefooter__img-block(srcset="img/footer-img-main-mob.png" media="(max-width: 991px)")
          img.prefooter__img-block(src="img/footer-img-main.png", alt="footer-img")

      footer.footer
        .container
          .row
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Информация и поддержка #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="privacy.html") Политика конфиденциальности
                  li.footer__list-item
                    a.footer__list-link(href="public-offer.html") Публичная оферта
                  li.footer__list-item
                    a.footer__list-link(href="news-list.html") Новости
                  li.footer__list-item
                    a.footer__list-link(href="contact-us.html") Связаться с нами
            .col
              .footer__content-wrap
                h2.footer__title.js-footer-title Врынке #[span.arrow]
                ul.footer__list
                  li.footer__list-item
                    a.footer__list-link(href="about.html") О платформе
                  li.footer__list-item
                    a.footer__list-link(href="careers-list.html") Работать у нас
                  li.footer__list-item
                    a.footer__list-link(href="partnership.html") Сотрудничать с нами
                  li.footer__list-item
                    a.footer__list-link(href="legal-info.html") Юридическая информация
            .col
              .footer__content-wrap
                .logo.footer__logo
                  a(href="index.html")
                    img(src="img/footer-logo.png" alt="врынке.рф")
                p.footer__copy &copy; Врынке, 2017. Все права защищены.
                .footer__social
                  a.footer__social-icon.footer__social-vk(href="#~")
                  a.footer__social-icon.footer__social-inst(href="#~")
                  a.footer__social-icon.footer__social-facebook(href="#~")
                .footer__author-info Проект создан - #[a.footer__author-link(href="http://voidmedia.ru/" target="_blank") Void media] 
      include partials/scripts