.paginator
  ul.paginator__list
    li.paginator__list-item.paginator__list-item--active
      a(href="#~") 1
    li.paginator__list-item
      a(href="#~") 2
    li.paginator__list-item
      a(href="#~") 3
    li.paginator__list-item
      a(href="#~") 4