.main-header {
  @media (max-width: $md-screen - 1) {
    height: 460px;
    background-image: url('../img/header/main-header-mob.jpg');
    padding-top: 90px;
  }

  @media (max-width: $sm-screen - 1) {
    padding-top: 50px;
    height: 500px;
    text-align: center;
  }

  @media (max-width: 480px) {
    background-image: url('../img/header/main-header-480.jpg');
  }

  position: relative;
  height: 650px;
  background-image: url('../img/header/main-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  text-align: center;

  &__title {
    @media (max-width: $md-screen - 1) {
      font-size: 3.2em;
    }
    @media (max-width: $sm-screen - 1) {
      font-size: 2.8rem;
    }
    font-family: $ubuntu;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.3;
    color: $white-color;
    margin-bottom: 15px;
    text-shadow: 0 2px 2px $black-color;
    opacity: .95;
  }

  &__desc {
    @media (max-width: $sm-screen - 1) {
      font-size: 1.4rem;
      margin-bottom: 30px;
    }
    font-size: 1.6em;
    font-weight: 400;
    color: $white-color;
    margin-bottom: 70px;
  }

  &__button-block {
    @include cf()
  }

  &__button-wrap {
    @media (max-width: $sm-screen - 1) {
      float: none;
      width: 262px;
      margin: 0 auto;
    }
    float: left;
    width: 50%;
    text-align: center;
  }

  &__button-desc {
    @media (max-width: $sm-screen - 1) {
      display: none;
    }
    font-size: 1.4em;
    line-height: 1.4;
    color: $white-color;
    margin-top: 30px;
  }

  .button--main--sup,
  .button--main-agent {
    @media (max-width: $md-screen - 1) {
      max-width: 266px;
    }
    @media (max-width: $sm-screen - 1) {
      margin-bottom: 15px;
    }
  }
}

.main {

  &__video-block {
    @media (max-width: $md-screen - 1) {
    margin-top: 0;
    height: 370px;
    }
    @media (max-width: $sm-screen - 1) {
      height: 260px;
    }
    @media (max-width: 480px) {
      height: 170px;
    }

    position: relative;
    width: 100%;
    max-width: 960px;
    height: 480px;
    background-image: url("../img/main/main-video-poster.jpg");
    margin: 60px auto;

    iframe {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 200;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  &__video-button {
    @media (max-width: $sm-screen - 1) {
      width: 60px;
      height: 60px;
    }
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 141px;
    height: 141px;
    background-image: url('../img/main/main-video-button.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
  }

  &__content {
    margin-bottom: 60px;

    .list-block {
      margin-top: 40px;
    }
    @media (max-width: $sm-screen - 1) {
      .list-block__item {
        padding-top: 50px;
        padding-left: 0;

        span {
          top: 8px;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }

  &__column {
    @include cf();
    @media (max-width: $sm-screen - 1) {
      float: none;
      width: 100%;
      text-align: center;
    }
    float: left;
    width: 100%;

    .button--more {
      @media (max-width: $md-screen - 1) {
        margin-top: 15px;
      }
    }
  }

  &__list-title {
    @media (max-width: $lg-screen - 1) {
      margin-top: 0;
    }
    margin-top: 40px;
  }

  &__firm-desc {
    @media (max-width: $lg-screen - 1) and (min-width: $sm-screen) {
      font-size: 2.4rem;
      line-height: 1.2;
    }
    @media (max-width: $sm-screen - 1) {
      margin-bottom: 50px;
    }
    max-width: 760px;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 65px;
  }

  &__img-block {
    @media (max-width: $sm-screen - 1) {
      display: block;
      height: 240px;
      background-repeat: no-repeat;
      background-position: center top;
    }
    display: none;

    &--right,
    &--left {
      position: relative;
      height: 100%;

      &:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
      }
    }

    &--right {
      @include cf();

      &:after {

      @media (max-width: $sm-screen - 1) {
        display: none;
      }

        background-image: url('../img/main/main-img-block1.jpg');
        left: 50%;
        background-position: center top;
      }

      .main__img-block {
        background-image: url('../img/main/main-img-block1.jpg');
        margin-bottom: 30px;
      }
    }


    &--left {
      @include cf();

      &:after {

      @media (max-width: $sm-screen - 1) {
        display: none;
      }

        background-image: url('../img/main/main-img-block2.jpg');
        right: 50%;
        background-position: center top;
      }

      .main__img-block {
        background-image: url('../img/main/main-img-block2.jpg');
        margin-top: 30px;
      }
    }
  }

  &__list-desc {
    @media (max-width: $md-screen - 1) {
      line-height: 1.1;
    }
    font-size: 1.6em;
    font-weight: 700;
    color: darken($gray-color, 20%);
  }

  &__col {

    &--first {

      @media (max-width: $md-screen - 1) {
        padding-right: 15px;
        padding-bottom: 30px;
      }
      @media (max-width: $sm-screen - 1) {
        float: none;
        width: 100%;
        padding: 0 15px;
      }

      float: left;
      width: 50%;
      padding-right: 40px;
      padding-bottom: 40px;
    }

    &--fourth {

      @media (max-width: $md-screen - 1) {
        padding-left: 30px;
        padding-bottom: 30px;
      }
      @media (max-width: $sm-screen - 1) {
        float: none;
        width: 100%;
        padding: 0 15px;
      }

      float: right;
      width: 50%;
      padding-left: 40px;
      padding-bottom: 40px;

      .main__list-title {
        margin-top: 25px;
      }
    }
  }

  &__news-block {
    @media (max-width: $md-screen - 1) and (min-width: $sm-screen) {
      .main__news-last {
        display: none;
      }
    }
    margin-bottom: 45px;

    &__title {
      margin-bottom: 25px;
    }

    &__button-block {
      text-align: center;
    }
  }
}