nav.header__nav
  .toggle.header__toggle.js-toggle
    span.toggle__line
    span.toggle__line
    span.toggle__line
  .logo.header__logo
    a.header__logo-link
      img.logo-img.header__logo-img(src="img/logo.png" alt="врынке.рф")
  .header__list.js-header__list
    button.button.header__list-button.js-list-button
    .header__nav-list
      .header__nav-item.header__nav-item--active
        a(href="#~") Я — агент
      .header__nav-item
        a(href="#~") Я — поставщик
      .header__nav-item
        a(href="#~") Каталог предложений
      .header__nav-item
        a(href="#~") Регионы
    .header__nav-list.header__nav-list--mobile
      .header__nav-item
        a(href="#~") О платформе
      .header__nav-item
        a(href="#~") Работать у нас
      .header__nav-item
        a(href="#~") Новости
      .header__nav-item
        a(href="#~") Связаться с нами
  .header__sign-in
    a.button.header__button-in(href="#~") Вход
    a.button.header__button-reg(href="#~") Регистрация