// Overlay
.overlay

// Scripts
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="js/script.js")
script(src="js/project/nav-toggle.js")
script(src="js/project/footer-link.js")
script(src="js/project/account-block.js")