// FONTS
$gilroy: 'GilroyTypefamily';
$ubuntu: 'Ubuntu';
$arial: 'Arial';
$roboto-slab: 'Roboto Slab';

// COLORS
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;
$dark-gray-color: #333333;
$red-color: #ed1c24;
$blue-color: #16d3d5;
$dark-blue-color: #169bd5;
$orange-color: #ffad43;
$green-color: #81df36;
$button-green-color: #70bb18;
$button-blue-color: #0c9cbb;

// SIZE

$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

