.button {
  $button-radius: 4px;

  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  font-family: inherit;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    border: none;
    outline: none;
    text-decoration: none;
  }

  &:focus {
    outline: $gray-color;
  }

  // I am supplier
  &--main--sup {
    width: 100%;
    max-width: 352px;
    height: 60px;
    background-color: $orange-color;
    border-radius: $button-radius;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: $white-color;
  }

  // I am agent buton

  &--main--agent {
    @extend .button--main--sup;
    background-color: $green-color;
  }

  // Confirm registration button

  &--confirm-reg {
    @extend .button--main--sup;
    max-width: inherit;
    background-color: $button-blue-color;
  }

  // Green button

  &--green {
    @extend .button--confirm-reg;
    background-color: $button-green-color;
    font-weight: 700;
  }

  // Green medium

  &--green--md {
    width: 188px;
    height: 40px;
    background-color: $button-green-color;
    border-radius: $button-radius;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 40px;
    color: $white-color;
  }

  &--green--lg {
    @extend .button--green--md;
    width: 296px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
  }

  // Transparent button

  &--transp {
    @extend .button--green--lg;
    background-color: transparent;
    border: 2px solid $gray-color;
    color: $gray-color;

    &:hover {
      border: 2px solid;
    }
  }

  // Add button

  &--add {
    position: relative;
    width: 175px;
    height: 30px;
    background-color: $button-green-color;
    border-radius: $button-radius;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 30px;
    color: $white-color;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background-image: url('../img/button-plus.png');
      background-repeat: no-repeat;
    }
  }

  // Edit button

  &--edit {
    width: 14px;
    height: 16px;
    background-image: url('../img/account/account-desc-sprite.png');
    background-repeat: no-repeat;
    background-position: center top;
  }

  // Buttot flag

  &--flag {
    @media (max-width: $sm-screen - 1) {
      position: absolute;
      top: 16px;
      right: 0;
    }
    width: 12px;
    height: 16px;
    background-image: url('../img/account/flag-button.png');
    background-repeat: no-repeat;
    background-position: center bottom;

    &--active {
      background-position: center top;
    }
  }  

  // Button more

  &--more {
    width: 100%;
    max-width: 205px;
    height: 50px;
    border: 2px solid $red-color;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 400;
    color: $red-color;
    line-height: 50px;
    
    &:hover {
      border: 2px solid;
    }
  }

  // Back button

  &--back {
    font-size: 18px;
    font-weight: 400;
    color: #169bd5;
    padding-left: 40px;
    background: url('../img/arrow-back-404.png') left 8px no-repeat;
  }

  // Registration button

  &--reg {
    @extend .button--more;
    max-width: 365px;
    background-color: $red-color;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;

    &:hover {
      border: 2px solid $red-color;
    }
  }

  // Search button

  &--search {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    top: 9px;
    right: 11px;
    background-image: url('../img/account/input-search.png');
    background-repeat: no-repeat;
  }

  // Mail button

  &--mail {
    @media (max-width: $sm-screen - 1) {
      position: absolute;
      top: 15px;
      right: 0;
    }
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../img/account/button-mail.png');
    background-repeat: no-repeat;
  }

  // Gray button

  &--gray {
    @extend .button--green;
    position: relative;
    height: 50px;
    background-color: #ccc;
    text-transform: none;
    line-height: 50px;
    color: #666;
    padding-left: 20px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
      width: 22px;
      height: 7px;
      background-image: url('../img/button-gray-arrow.png');
      background-repeat: no-repeat;
    }
  }

  // Blue edit

  &--blue-edit {
    @extend .button--gray;
    background-color: $button-blue-color;
    color: $white-color;

    &:after {
      width: 18px;
      height: 18px;
      left: 28px;
      background-image: url('../img/account/blue-edit.png');
      background-position: center top;
    }
  }

  // Blue md

  &--blue--md {
    @extend .button--green--md;
    width: 100%;
    font-size: 1.4rem;
    background-color: $button-blue-color;
    margin-top: 10px;
  }

  // Add fav

  &--add-fav {
    @extend .button--green--md;
    position: relative;
    width: 100%;
    background-color: #ff1c49;
    font-size: 1.3rem;
    padding-left: 20px;

    &:after {
      @media (max-width: 480px) {
        left: 60px;
      }
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      left: 13%;
      transform: translateY(-50%);
      width: 14px;
      height: 18px;
      background-image: url('../img/account/ribbon.png');
      background-repeat: no-repeat;
    }
  }
}