.checkbox {
  $checkbox-color: #3dd472;
  $checkbox-button-color: #25bf5b;
  display: inline-block;
  vertical-align: middle;

  &__input {
      vertical-align: top;
      margin: 0 3px 0 0;
      width: 17px;
      height: 17px;


    &:not(checked) {
      position: absolute;
      opacity: 0;
    }

    &:not(checked) + label {
      @media (max-width: $md-screen - 1) {
        font-size: 1.4rem;
      }
      @media (max-width: $sm-screen - 1) {
        padding-right: 25px;
      }
      position: relative;
      display: inline-block;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 300;
      color: darken($gray-color, 5%);
      padding: 0 0 0 46px;
      transition: all .2s;
    }

    &:not(checked) + label:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 2px;
      width: 36px;
      height: 14px;
      border-radius: 13px;
      background: lighten($gray-color, 10%);
      box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
      transition: all .2s;
    }

    &:not(checked) + label:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 1px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: $gray-color;
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
      transition: all .2s;
    }

    &:checked + label {
      color: $black-color;
    }

    &:checked + label:before {
      background: $checkbox-color;
    }

    &:checked + label:after {
      left: 19px;
      background-color: $checkbox-button-color;
    }

    &:focus + label:before {
    }
  }
}