.input,
.textarea {
  $input-color: $gray-color;
  width: 100%;
  height: 40px;
  font-family: 'Arial';
  font-weight: 400;
  // line-height: 1;
  color: $black-color;
  font-size: 1.4em;
  border: 1px solid $input-color;
  padding: 11px 14px;
  margin-bottom: 20px;

  &::placeholder {
    color: darken($input-color, 25%);
    background-color: transparent;
  }

  &--lg {
    max-width: 750px;
  }

  &--md {
    max-width: 360px;
  }

  &--half-width {
    @media (max-width: $sm-screen - 1) {
      width: 100%;
    }
    width: 50%;
  }

  &--no-margin {
    margin: 0;
  }

  &:focus {
    outline: none;
  }

  &__search-block {
    position: relative;
  }

  &--ft {
    width: 80px;
    height: 40px;
    font-size: 1.4rem;

    &--name {
      @media (max-width: $sm-screen - 1) {
        display: block;
        margin-bottom: 10px;
      }
      padding-right: 5px;
    }

    &--line {
      padding: 0 5px;
    }
  }

  &__procent-block {

    .input {
      max-width: 125px;
    }
  }

  &__span-procent {
    display: inline-block;
    font-size: 1.4rem;
    color: $input-color;
    vertical-align: middle;
    margin-left: 10px;
  }

  // FIleform
  &__fileform {
    @extend .input;
    @include cf();
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
    padding: 5px 8px 5px 14px;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -moz-opacity: 0; 
      filter: alpha(opacity=0); 
      opacity: 0; 
      font-size: 100px; 
      z-index:20;
    }
  }

  &__fileform-button {
    float: right;
    width: 90px;
    height: 28px;
    background-color: $gray-color;
    border: 1px solid darken($gray-color, 20%);
    border-radius: 1px;
    font-size: 1.2rem;
    color: $dark-gray-color;
    line-height: 28px;
    text-align: center;
  }

  &__filefield {
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width: 80%;
  }

  &__photo-block {
    font-size: 0;
    margin-bottom: 20px;
  }

  &__photo {
    display: inline-block;
    width: 16%;
    height: auto;
    margin-right: 1%;

    img {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__important-info {
    font-size: 1.2rem;
    line-height: 1.2;
    color: darken($gray-color, 20%);
    margin-top: -10px;

    a {
      display: inline-block;
      border-bottom: 1px dotted rgba(22, 211, 213, 0.3);
      color: #0c9cbb;
      padding-bottom: 1px;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  &__bottom-block {
    border-top: 1px solid $input-color;
    margin-top: 50px;
    padding-top: 30px;
  }
}

.check[type="checkbox"] {
  opacity: 0;

  &:checked + label:before {
    content: "\2713";
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 12px;
    text-align: center;
    color: $black-color;
  }
}

.check-label {
  position: relative;
  padding-left: 3px;
  font-size: 1.4rem;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    margin-top: -7px;
    left: -16px;
    width: 14px;
    height: 14px;
    background-color: $white-color;
    border: 1px solid $gray-color;
    border-radius: 2px;
  }
}

.textarea {
  height: 170px;
  resize: none;
}

label {
  vertical-align: middle;
  cursor: pointer;
}