.question {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: $dark-blue-color;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: $white-color;
  vertical-align: middle;
  padding: 2px 5px;
  margin-left: 5px;
  cursor: pointer;

  &__tooltip {
    position: absolute;
    display: none;
  }
}
