.subcat {
  margin-bottom: 15px;

  &__list-block {
    display: inline-block;
    vertical-align: top;
  }

  &__name {
    @media (max-width: 480px) {
      display: none;
    }
    display: inline-block;
    width: 120px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
  }

  &__list {
    @include cf();
    max-width: 800px;
  }

  &__list-item {
    @media (max-width: 480px) {
      float: none;
    }
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;

    a {
      @media (max-width: 480px) {
        background-color: transparent;
        color: $black-color;
        font-weight: 600;
        padding-left: 0px;
      }
      background-color: $dark-blue-color;
      border-radius: 4px;
      font-size: 1.4rem;
      line-height: 1.4;
      color: $white-color;
      padding: 5px 15px;
    }
  }
}