.toggle {
  float: left;
  width: 18px;
  position: relative;
  display: block;
  z-index: 210;
  cursor: pointer;

  &__line {
    display: block;
    height: 3px;
    background-color: darken($gray-color, 20%);
    margin-bottom: 4px;
  }
}