.training {
  @media (max-width: 480px) {

    .col-xs-6 {
      float: none;
      width: 100%;
    }
  }

  &__tab-list {
    @media (max-width: 480px) {
      margin-top: 0;
    }
    margin-top: -14px;
    margin-bottom: 30px;
  }

  &__tab-item {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: $dark-gray-color;
    padding: 6px 25px;
    margin-top: 14px;
    border: 2px solid transparent;
    cursor: pointer;

    &--active {
      @media (max-width: 480px) {
        border: 2px solid transparent;
        color: $dark-gray-color;
      }
      border: 2px solid $red-color;
      border-radius: 26px;
      color: $red-color;
    }
  }

  &__block {
    @extend .news__block;
  }

  &__img-link {
    @extend .news__img-link;
    @media (max-width: $sm-screen - 1) {
      display: block;
      width: 100%;
      margin-right: 0;
    }
    position: relative;
  }

  &__img-block {
    @extend .news__img-block;

    img {
      @media (max-width: $sm-screen - 1) {
        width: 100%;
      }
    }
  }

  &__category-block {
    position: absolute;
    bottom: 12px;
    right: 5px;
  }

  &__category {
    font-size: 11px;
    font-weight: 700;
    color: $white-color;
    padding: 6px 12px;
    border-radius: 15px;
    background-color: $dark-gray-color;
    margin: 0 2px;

    &--web {
      background-color: #00cc66;
    }

    &--free {
      background-color: #ff9900;
    }

    &--sem {
      background-color: #666699;
    }

    &--sec {
      background-color: #169bd5;
    }

    &--pres {
      background-color: #e8002f;
    }
  }

  &__desc {
    @extend .news__desc;
    @media (max-width: $sm-screen - 1) {
      width: 100%;
      margin-top: 15px;
    }
  }

  &__title {
    @extend .news__title;
    @media (max-width: $sm-screen - 1) {
      font-size: 1.6rem;
    }
    @media (min-width: 487px) and (max-width: $sm-screen - 1) {
      margin-bottom: 20px;
    }
  }

  &__date {
    @extend .news__date;
    @media (max-width: $sm-screen - 1) {
      left: 0;
    }
  }

  &__archive-block {
    @media (max-width: $sm-screen - 1) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px dotted $gray-color;
    border-bottom: 1px dotted $gray-color;
  }

  &__archive-inner {
    @include cf();
  }

  &__archive-title {
    @media (max-width: $sm-screen - 1) {
      font-size: 2.2em;
    }
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 30px;
  }

  &__archive-item {

    a {
      @extend .login-in__reg;
    }
  }
}