// Account

.account {

  &__check-wrap {
    @include cf();

    .question {
      @media (max-width: $sm-screen - 1) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .account__input-block {
      @media (max-width: $sm-screen - 1) {
        float: left;
        position: relative;
      }
    }
  }

  &__img-block {
    @media (max-width: $sm-screen - 1) {
      width: 52px;
      height: 50px;
      margin-bottom: 0;
      margin-right: 12px;
    }
    position: relative;
    margin-bottom: 15px;
  }

  &__check {
    @media (max-width: $sm-screen - 1) {
      top: 3px;
      right: 3px;
    }
    position: absolute;
    top: 10px;
    right: 10px;
  }  

  &__link-refresh,
  &__all-offers,
  &__link-petition {
    @extend .login-in__reg;
    @media (max-width: $sm-screen - 1) {
      display: block;
    }
    margin-bottom: 10px;
  }

  .button--green--md {
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    height: auto;
    line-height: 1.2;
    padding: 15px 4px;
  }

&__profile {
    @include cf();
    @media (max-width: $sm-screen - 1){
      display: table;
      width: 100%;
    }
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px 20px 25px;

    .button--green--md {
      @media (max-width: $sm-screen - 1) {
        display: table-cell;
        max-width: 85%;
      }

      @media (max-width: 480px) {
        font-size: 1.4rem;
      }
    }
  }

  &__action {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px 10px 15px 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    &--contractor-page {
      @media (max-width: $sm-screen - 1){
        display: block;
      }
      display: none;
    }
  }

  &__action-list {
    @media (max-width: 480px) {
      display: none;
    }
    margin-top: 25px;

    &--contractor-page {
      @media (max-width: $sm-screen - 1){
        display: none;
      }
    }
  }

  &__action-title {
    @media (max-width: 480px) {
    }
    font-size: 1.6rem;
    font-weight: 700;
    color: $black-color;
    
    .arrow {
      @media (max-width: 480px) {
        display: inline-block;
      }
      display: none;
      width: 13px;
      height: 7px;
      background-image: url('../img/catalog-title-arrow.png');
      background-repeat: no-repeat;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  &--show-elem .arrow {
    transform: rotate(180deg);
  }

  &--show-elem + .account__action-list {
    display: block;
  }


  &__action-item {
    margin-bottom: 15px;

    a {
      @extend .login-in__reg;
      display: inline;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  // Personal
  &__personal {
    position: relative;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: $gray-color;
    padding: 20px 20px 25px;

    .button--edit {
      @media (max-width: 480px) {
        top: 22px!important;
        right: 20px!important;
      }
      position: absolute;
      top: 22px;
      right: 20px;
    }
  }

  &__personal-id {
    font-size: 1.2rem;
  }

  &__block-name {
    font-size: 2rem;
    font-weight: 400;
    color: $black-color;
  }

  &__column-wrap {
    @include cf();
    margin-top: 25px;
  }

  &__column {
    @media (max-width: $md-screen - 1) {
      float: none;
      width: 100%;
      padding-right: 20%;
      margin-right: 0;
    }
    float: left;
    width: 35%;
    margin-right: 15%;
  }

  &__personal-phone,
  &__personal-location,
  &__personal-mail,
  &__personal-info {
    position: relative;
    word-wrap: break-word;
    padding-left: 25px;
    padding-top: 5px;
    margin-bottom: 15px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      background-image: url('../img/account/account-desc-sprite.png');
      background-repeat: no-repeat;
      width: 20px;
      height: 30px;
    }
  }

  &__personal-phone {

    &:before {
      background-position: left -68px;  
    }
  }

  &__personal-location {

    &:before {
      background-position: left -147px;  
    }
  }

  &__personal-mail {

    &:before {
      background-position: left -225px;  
    }
  }

  &__personal-info {

    &:before {
      background-position: left -302px;  
    }
  }


  &__products {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 25px;
    margin-top: 30px;
  }

  &__title-block {
    @include cf();
    margin-bottom: 15px;

    .account__block-name {
      float: left;
    }

    .button--add {
      @media (max-width: $md-screen - 1) and (min-width: 481px) {
        font-size: 0;
        width: 20px;
        height: 20px;

        &:before {
          left: 22.5%;
          top: 55%;
          background-image: url('../img/button-plus-mob.png');
        }
      }
    @media (max-width: 480px) {
        width: 100%;
        float: none;
        height: 40px;
        font-size: 1.6rem;
        line-height: 40px;
      }

      float: right;
      margin-top: 10px;
    }
  }

  // Table

  .table {
    @media (max-width: 480px) {
      display: block;
    }
    display: table;
    margin-bottom: 40px;
  }

  .tr {
    @media (max-width: 480px) {
      position: relative;
      display: block;
      border-bottom: 1px solid lighten($gray-color, 10%);
      padding: 10px 0;
    }
    display: table-row;

    &:nth-child(2) {

      .td {
        @media (max-width: 480px) {
          border: none;
        }
        border-top: 1px solid $gray-color;
      }
    }

    &:last-child {

      .td {
        @media (max-width: 480px) {
          border: none;
        }
        border-bottom: 1px solid lighten($gray-color, 10%);
      }
    }

    .td {
      @media (max-width: 480px) {
        border: none;
        padding: 2px 0;
      }
      @media (max-width: $md-screen) and (min-width: 480px) {
        position: relative;
      }
      padding: 15px 10px;
      border-top: 1px solid lighten($gray-color, 10%);

      &:first-child {
        @media (max-width: $md-screen - 1) {
          width: 40%;
        }
        @media (max-width: 480px) {
          width: 80%;  
        }
        padding-left: 0;
        width: 28%;
      }

      &:last-child {
        @media (max-width: $md-screen - 1) {
          text-align: right;
        }
        padding-right: 0;
      }
    }
  }

  .title-tr {
    @media (max-width: 480px) {
      border-bottom: 1px solid $gray-color;
    }
  }

  .th,
  .td {
    @media (max-width: 480px) {
      display: block;
    }
    display: table-cell;
    font-size: 1.4rem;
    vertical-align: baseline;

  }

  .th {
    white-space: nowrap;
  }

  &__table-title {
    @extend .order__table-title;
    padding: 0 10px 5px;

    &--mob {
      @media (max-width: 480px) {
        display: block;
        padding-left: 0;
        margin-bottom: -5px;
      }
      display: none;
    }

    &--number {
      padding-left: 0;
    }

    &--cost {
      text-align: right;
    }

    &--name,
    &--reward,
    &--volume {
      @media (max-width: $md-screen - 1) {
        display: none!important;
      }
    }

    &--number,
    &--cost {
      @media (max-width: 480px) {
        display: none!important;
      }
    }
  }

  &__name {
    @extend .order__name;
  }

  &__reward {
    text-align: right;
  }

  &__cost {
    text-align: right;
  }

  &__volume {
    @media (max-width: 480px) {
      text-align: left;
    }
    white-space: nowrap;
    text-align: right;
  }

  &__status,
  &__reward,
  &__cost {
    @media (max-width: $md-screen - 1) {
      display: none!important;
    }
  }

  .button--edit {
    @media (max-width: 480px) {
      position: absolute;
      top: 16px;
      right: 0;
    }
    vertical-align: middle;
  }

  .button--flag {
    vertical-align: middle;
  }

  &__button-block {
    text-align: center;
  }

  // News

  &__news {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 25px;
    margin-top: 30px;
  }  

  &__news-title {
    margin-bottom: 20px;
  }

  &__news-block {
    @include cf();
  }

  // Account edit

  &__input-block {


    &--mb {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    &--sm {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &__info {
      font-size: 1rem;
      font-style: italic;
      color: lighten($dark-gray-color, 40%);
      padding-top: 2px;
      padding-left: 46px;
    }

    .button--confirm-reg {
      margin-top: 25px;
    }
  }

  &__check-title {
    @include cf();

    .account__edit-name {
      @media (max-width: $md-screen - 1) {
        float: none;
      }
      float: left;
    }

    .checkbox {
      @media (max-width: $md-screen - 1) {
        float: none;
        padding-top: 0;
        padding-bottom: 30px;
      }
      float: right;
      padding-top: 10px;
    }
  }

  &__edit-name,
  &__edit-name--md {
    @extend .account__block-name;
    @media (max-width: $sm-screen - 1) {
      margin-bottom: 20px;
    }
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &__edit-name--md {
    font-size: 1.6rem;
  }

  &__important-info {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: darken($gray-color, 13%);
    text-align: right;
    margin-top: 40px;
  }

  &__block-category {
    @extend .order__block-category;
    padding-bottom: 20px;

    span {
      display: inline-block;
      padding-bottom: 5px;
      vertical-align: top;
    }
  }

  &__line-title {
    background-color: #0c9cbb;
    padding: 15px 12px;
    font-size: 1.8rem;
    line-height: 1;
    color: $white-color;
    border-bottom: 1px solid $white-color;
  }

  &__edit-title {
    @media (max-width: $sm-screen) {
      font-size: 1.6rem;
      margin-top: 15px;
    }
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    color: $dark-gray-color;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  &__dl-block {
    display: none;
    margin-bottom: 10px;
  }

  &__dl {
    display: inline-block;
    width: 70px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 10px;
  }

  &__dl-in {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    margin-right: 10px;

    a {
      @extend .login-in__reg;
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    .dl-in--reset {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      font-size: .9em;
      color: $red-color;
      cursor: pointer;
    }
  }

  &__unwrap {
    display: none;
    // height: 0;
    // overflow: hidden;
  }
}

// Contractor list

.contractor-list {

  .tr {

    .td {

      &:first-child {
        @media (min-width: $md-screen) {
          width: auto;
        }
        @media (max-width: $sm-screen - 1) {
          width: auto;
        }
        width: 50%;
      }
    }
  }
}

// Contractor profile

.contractor-profile {

  .account__profile {
    @media (max-width: $sm-screen - 1) {
      text-align: center;
    }
    text-align: left;  
  }

  .account__personal-info__block {
    margin-top: 5px;
  }

  .personal-info__block-name {
    display: inline-block;
    width: 42%;
  }

  .personal-info__block-attr {
    display: inline-block;
    width: 58%;
    vertical-align: top;
  }

  .button--more {
    max-width: none;
    width: auto;
    height: auto;
    padding: 15px 40px;
    line-height: 1;
  }

  .tr {

    .td {

      &:first-child {
        @media (max-width: $md-screen - 1) {
          width: auto;
        }
        width: 50%;
      }
    }
  }
}

.account--edit {

  .button--green--md {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .button--green {
    @media (max-width: $sm-screen - 1) {
      max-width: none;
    }
    height: 50px;
    max-width: 300px;
    line-height: 50px;
    text-transform: none;
  }

  .cke_contents {
    height: 126px!important;
  }
}