.prefooter {
  @media (max-width: $md-screen - 1) {
    margin-bottom: -7px;
  }
  @extend .container;
  padding-top: 60px;
  margin-bottom: -16px;

  &--another {
    margin-bottom: -4px;
  }

  &--404 {
    @media (max-width: $sm-screen - 1) {
      margin-bottom: -12px;
    }
    padding: 0;
    margin-bottom: -24px;
  }
}

.footer {
  background-color: $dark-gray-color;
  color: $white-color;
  padding-top: 65px;
  padding-bottom: 15px;

  &__content-wrap {
    @media(min-width: 768px) {
      position: relative;
      min-height: 165px;
      margin-bottom: 0;
    }
    position: static;
    min-height: auto;
    margin-bottom: 20px;
  }

  .col {
    @media (max-width: $sm-screen - 1) {
      float: none;
      width: 100%;
    }
    float: right;
    width: 33.3333%;
    padding: 0 15px;
  }

  &__copy {
    @media (max-width: $sm-screen - 1) {
      padding-bottom: 6px;
    }
    font-size: 1.2rem;
    padding: 24px 0 15px;
  }

  &__social {
    @include cf();
    margin-bottom: 50px;
  }

  &__social-icon {
    float: left;
    display: block;
    height: 17px;
  }

  &__social-vk,
  &__social-inst,
  &__social-facebook {
    background-image: url('../img/social-sprite.png');
    background-repeat: no-repeat;
    margin-right: 14px;
  }

  &__social-vk {
    width: 25px;
    background-position: left center;
  }

  &__social-inst {
    width: 19px;
    background-position: -35px center;
  }

  &__social-facebook {
    width: 10px;
    background-position: right center;
  }

  &__author-info {
    @media(min-width: $sm-screen) {
      position: absolute;
    }
    position: static;
    left: 0;
    bottom: 10px;
  }

  &__author-link {
    text-transform: uppercase;
    border-bottom: 1px solid $gray-color;
    padding-bottom: 1px;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $white-color;
    }

    &:visited {
      color: inherit;
    }
  }

  &__title {
    @media(min-width: $sm-screen) {
      margin-bottom: 35px;
    }

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    color: $white-color;

    .arrow {
      @media (max-width: $sm-screen - 1) {
        display: inline-block;
      }
      display: none;
      width: 13px;
      height: 7px;
      background-image: url('../img/footer-arrow.png');
      background-repeat: no-repeat;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  &--show-elem .arrow {
    transform: rotate(180deg);
  }

  &--show-elem + .footer__list {
    display: block;
  }

  &__list {
    @media(min-width: $sm-screen) {
      display: block!important;
    }
    display: none;
  }

  &__list-item {
    font-size: 14px;
    margin-bottom: 7px;

    a:visited {
      color: inherit;
    }
  }
}