.header {

  &__toggle {
    @media (min-width: $md-screen) {
      display: none;
    }
    display: block;
    padding-top: 18px;
    margin-right: 10px;
  }

  &__nav {
    @include cf();
  }

  &__logo {
    position: relative;
    float: left;
    padding-top: 20px;
    z-index: 50;
  }

  &__list {
    @media (min-width: $md-screen) {
      position: static;
      float: left;
      background-color: transparent;
      width: auto;
      height: auto;
      max-width: none;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }

    position: absolute;
    top: 0;
    left: -800px;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: $white-color;
    z-index: 10;
    padding-top: 80px;
    padding-right: 36px;
    padding-left: 50px;
    z-index: 40;

    &:before {
      @media(min-width: $md-screen) {
        display: none;
      }
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: -150px;
      width: 150px;
      height: 100%;
      background-color: $white-color;
    }
  }

  &__list-button {
    position: absolute;
    display: none;
    top: 20px;
    right: 15px;
    width: 14px;
    height: 14px;
    background-image: url('../img/header/header__list-button.png');
    background-repeat: no-repeat;
    z-index: 50;
  }

  &__nav-list {
    @media (min-width: $md-screen) {
      padding-top: 20px;
      margin-left: 90px;

      &:nth-child(2) {
        padding-bottom: 0px;
      }
    }
    @include cf();

      &:last-child {
        padding-top: 40px;
        border-top: 1px solid $black-color;
      }


    &--mobile {
      @media (min-width: $md-screen) {
        display: none;
      }
      display: block;
    }
  }

  &__nav-item {
    @media (min-width: $md-screen) {
      float: left;
      margin-right: 45px;      
    }
    
    display: block;

    a {
      display: block;
      font-size: 1.4em;
      font-weight: 400;
      line-height: 1;
      color: $black-color;
      text-decoration: none;
      padding-bottom: 21px;
    }

    &--active {
      @media (min-width: $md-screen) {
        border-bottom: 5px solid $red-color;
      }
    }
  }

  &__sign-in {
    float: right;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-right: -15px;
  }

  &__button-in {
    position: relative;
    display: inline-block;
    margin-right: 15px;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: auto;
      left: -20px;
      width: 17px;
      height: 18px;
      background-image: url('../img/sign-in.png');
      background-repeat: no-repeat;
    }
  }

  &__button-reg {
    display: inline-block;
    background-color: $red-color;
    color: $white-color; 
    padding: 20px 30px;
  }

  &__button-account {
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  &__account-block {
    display: none;
    position: absolute;
    top: 45px;
    right: 15px;
    z-index: 100;
    padding-top: 10px;
  }

  &__account-list {
    position: relative;
    width: 230px;
    background-color: $white-color;
    box-shadow: 0 2px 4px 1px $gray-color;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    color: darken($gray-color, 18%);
    padding: 0 15px;
    z-index: 50;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: -7px;
      right: 20px;
      width: 15px;
      height: 15px;
      background-color: $white-color;
      box-shadow: -2px -2px 1px 1px rgba($gray-color, .1);
      transform: rotate(45deg);
      z-index: 0;
    } 
  }

  &__account-item {
    border-bottom: 1px solid $gray-color;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      background-image: url('../img/account/account-sprite.png');
      background-repeat: no-repeat;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 35px;
    }

    &:first-child a {
      background-position: left 20px;
    }

    &:nth-child(2) a {
      background-position: left -30px;
    }

    &:last-child a {
      background-position: left -82px;
    }
  }
}