.order {

  .main-content__link-back {
    @media (max-width: $sm-screen - 1) {
      display: none;
    }
  }

  &__title-block {
    @include cf();

    .main-content__title {
      @media (max-width: 480px) {
        float: none;
      }
      float: left;
    }

    .button--add,
    .input {
      @media (max-width: 480px) {
        width: 100%;
        float: none;
        margin-bottom: 25px;
        height: 40px;
        font-size: 1.6rem;
        line-height: 40px;
      }
      float: right;
      margin-top: 4px;
    }

    .button--add {
      @media (max-width: $sm-screen - 1) {
        width: 100%;
        margin-bottom: 25px;
      }
    }

    .input {
      @media (max-width: $sm-screen - 1) {
        width: 100%;
      }
      width: 270px;
      font-size: 1.3rem;
      background-color: transparent;
    }
  }

  &__table {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
  }

  .table {
    @media (max-width: $sm-screen - 1) {
      display: block;
    }
    display: table;
      width: 100%;
  }

  .th {
    @media (max-width: $sm-screen - 1) {
      display: none;
    }
    display: table-cell;
  }

  &--item-list {

    .tr {

      &:nth-child(2) {

        .td {
          @media (max-width: $sm-screen) {
            border: none;
          }
          border-top: 1px solid $gray-color;
        }
      }

      &:last-child {

        .td {
          @media (max-width: $sm-screen) {
            border: none;
          }
          border-bottom: 1px solid lighten($gray-color, 10%);
        }
      }

      .td {
        @media (max-width: $sm-screen) {
          border: none;
        }
        border-top: 1px solid lighten($gray-color, 10%);
      }
    }
  }

  .tr {
    @media (max-width: $sm-screen - 1) {
      position: relative;
      display: block;
      padding: 15px 50px 15px 0;
    }
    display: table-row;
    border-bottom: 1px solid lighten($gray-color, 5%);

    &:last-child {
      border-bottom: none;
    }

    &--th-border {

      .th {
        border-bottom: 1px solid $gray-color;
      }
    }
  }

  .title-tr {
    @media (max-width: $sm-screen - 1) {
      padding: 15px 0 2px;
    }
  }

  .td {
    @media (max-width: $sm-screen - 1) {
      display: block;
      padding: 0;
      vertical-align: baseline;
    }
    display: table-cell;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 10px;
    color: $dark-gray-color;
    vertical-align: top;
  }

  &__table-title {
    @media (max-width: $sm-screen - 1) {
      padding: 0;
      margin-bottom: 5px;
    }  
    font-size: 13px;
    font-weight: 400;
    color: darken($gray-color, 20%);
    padding: 20px 10px 10px;

    &--number {
      
      &--mob {
        @media (min-width: $sm-screen) {
          display: none;
        }
        display: inline-block;
      }
    }

    &--volume,
    &--cost {
      text-align: right;
    }

    &--volume {
      white-space: nowrap;
    }

    &--name {
      white-space: nowrap;
    }

    &--reward,
    &--list-reward,
    &--img {
      @media (max-width: $md-screen - 1) {
        width: 45px;
      }
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--contact {
      @media (max-width: $md-screen - 1) {
        display: none !important;
      }
    }
  }

  &__number {
    @media (max-width: $sm-screen - 1) {
      display: inline-block!important;
    }
    display: inherit;
  }

  &__name {
    font-weight: 700!important;
    color: #35a3d8!important;
  }

  &__volume,
  &__cost {
    @media (max-width: $sm-screen - 1) {
      text-align: left;
    }
    text-align: right;
    white-space: nowrap;
  }

  &__reward {

    &--check {
      @media (max-width: $md-screen - 1) {
        display: inline-block;
        font-size: 0;
        width: 13px;
        height: 8px;
        background-image: url('../img/table-check.png');
        background-repeat: no-repeat;
        vertical-align: middle;
      }
    }

    &--nocheck {
      @media (max-width: $md-screen - 1) {
        font-size: 0;
      }
    }
  }

  &__list-reward {
    @media (max-width: $sm-screen - 1) {
      text-align: left;
    }
    text-align: right;
  }

  &__img {
    text-align: left;
    vertical-align: middle;

    img {
      width: 30px;
      height: 30px;
      background-color: $gray-color;
      border: 2px solid $gray-color;
      border-radius: 50%;
      color: $gray-color;
    }
  }

  &__contact {
    @media (max-width: $md-screen - 1) {
      display: none!important;
    }
  }


  // Button edit

  .button--edit {
    @media (max-width: $sm-screen - 1) {
      position: absolute;
      top: 16px;
      right: 0px;
    }
  }

  // Order block

  &__block {
    margin-bottom: 30px;
  }

  &__about-block {
    
    .order__block-category {
      color: rgba($dark-gray-color, .8);
    }
  }

  &__order-name {
    padding-left: 5px;
  }  

  &__block-title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 14px;

    &--border-title {
      border-bottom: 1px solid lighten($gray-color, 10%);
    }
  }

  &__block-category {
    @media (max-width: $sm-screen - 1) {
      font-size: 1.4em;
    }
    @include cf();
    font-size: 1.6em;
    font-weight: 400;
    color: $dark-gray-color;
    line-height: 1.2;
    padding-bottom: 5px;

  }

  &__category-name {
    @media (max-width: $sm-screen - 1) {
      width: auto;
      padding-right: 5px;
    }
    float: left;
    display: inline-block;
    width: 206px;
    padding-right: 20px;
    padding-bottom: 5px;
    vertical-align: top;
  }

  &__category-attr {
    @media (max-width: $sm-screen - 1) {
      padding-left: 0;
    }
    float: left;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
  }

  &__button-block {
    @media (max-width: 480px) {
      max-width: none;
    }
    width: 100%;
    max-width: 390px;
    text-align: justify;

    &:after {
      content: '';
      width: 100%;
      display: inline-block;
    }

    .button {
      @media (max-width: 480px) {
        max-width: none;
        width: 100%;
      }
      max-width: 185px;
      vertical-align: top;
      margin-bottom: 15px;
    }

    .button--green {
      @media (max-width: 480px) {
        margin-right: 0;
      }
      margin-right: 20px;
    }
  }

  &__bottom-info {
    @extend .order__table-title;
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4;
    padding: 0;
    margin-bottom: 10px;
  }
}